<h3>Hi <%=username%> </h3>

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Role</th>
            <th>Level</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><%=username%></th>
            <th><%=password%></th>
            <th><%=role%></th>
            <th><%=level%></th>
        </tr>
    </tbody>
</table>


<p><a href="/masterArea">masterArea</a></p>
<p><a href="/masterCategories">masterCategories</a></p>
<p><a href="/masterCustomer">masterCustomer</a></p>
<p><a href="/masterEmployee">masterEmployee</a></p>
<p><a href="/masterGrade">masterGrade</a></p>
<p><a href="/masterProducts">masterProducts</a></p>
<p><a href="/masterVendors">masterVendors</a></p>


<hr> 
<p><a href="/logout">Log-Out</a></p>