<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Jindal Trading | Dashboard</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<link href="assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/layout.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/colors.min.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="global_assets/js/main/jquery.min.js"></script>
	<script src="global_assets/js/main/bootstrap.bundle.min.js"></script>
	<script src="global_assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="global_assets/js/plugins/visualization/d3/d3.min.js"></script>
	<script src="global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
	<script src="global_assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script src="global_assets/js/plugins/ui/moment/moment.min.js"></script>
	<script src="global_assets/js/plugins/pickers/daterangepicker.js"></script>

	<script src="global_assets/js/plugins/tables/datatables/datatables.min.js"></script>

	<script src="global_assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script src="global_assets/js/plugins/notifications/pnotify.min.js"></script>
	<script src="global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>

	<script src="assets/js/app.js"></script>
	<script src="global_assets/js/demo_pages/dashboard.js"></script>
	<script src="global_assets/js/demo_pages/datatables_basic.js"></script>
	<script src="global_assets/js/demo_pages/form_multiselect.js"></script>
	<!-- /theme JS files -->


	
</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-expand-md navbar-dark">
		<div class="navbar-brand">
			<a href="index.html" class="d-inline-block">
				<img src="../../../../global_assets/images/logo_light.png" alt="">
			</a>
		</div>

		<div class="d-md-none">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-tree5"></i>
			</button>
			<button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
				<i class="icon-paragraph-justify3"></i>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbar-mobile">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
						<i class="icon-paragraph-justify3"></i>
					</a>
				</li>
			</ul>

			<span class="badge bg-success ml-md-3 mr-md-auto">Online</span>

			<ul class="navbar-nav">

				<li class="nav-item dropdown dropdown-user">
					<a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
						<img src="../../../../global_assets/images/demo/users/face11.jpg" class="rounded-circle mr-2" height="34" alt="">
						<span><%=username%></span>
					</a>

					<div class="dropdown-menu dropdown-menu-right">
						<a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
						<a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-blue ml-auto">58</span></a>
						<div class="dropdown-divider"></div>
						<a href="/logout" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

			<!-- Sidebar mobile toggler -->
			<div class="sidebar-mobile-toggler text-center">
				<a href="#" class="sidebar-mobile-main-toggle">
					<i class="icon-arrow-left8"></i>
				</a>
				Navigation
				<a href="#" class="sidebar-mobile-expand">
					<i class="icon-screen-full"></i>
					<i class="icon-screen-normal"></i>
				</a>
			</div>
			<!-- /sidebar mobile toggler -->


			<!-- Sidebar content -->
			<div class="sidebar-content">

				<!-- User menu -->
				<div class="sidebar-user">
					<div class="card-body">
						<div class="media">
							<div class="mr-3">
								<a href="#"><img src="../../../../global_assets/images/demo/users/face11.jpg" width="38" height="38" class="rounded-circle" alt=""></a>
							</div>

							<div class="media-body">
								<div class="media-title font-weight-semibold"><%=username%></div>
								<div class="font-size-xs opacity-50">
									<i class="icon-pin font-size-sm"></i> &nbsp;Meerut
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /user menu -->


				<!-- Main navigation -->
				<div class="card card-sidebar-mobile">
					<ul class="nav nav-sidebar" data-nav-type="accordion">

						<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li>
						<li class="nav-item nav-item-submenu">
							<a href="/userDashboard" class="nav-link">
								<i class="icon-home4"></i>
								<span>
									Dashboard
								</span>
							</a>
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/register" class="nav-link">User-Register</a></li>
							</ul>
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/registeredUsers" class="nav-link">Register-List</a></li>
							</ul>
						</li>

						<li class="nav-item nav-item-submenu nav-item-expanded nav-item-open">
							<a href="#" class="nav-link active"><i class="icon-copy"></i> <span>Market-Plan</span></a>

							
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/marketPlanPigIron" class="nav-link active">Pig-Iron</a></li>
							</ul>
							
							<!-- <ul class="nav nav-group-sub" data-submenu-title="Layouts">
							   <li class="nav-item"><a href="/marketPlanAllotment" class="nav-link">Allotment</a></li>
						    </ul> -->
							
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/marketPlanQuantityLedger" class="nav-link">QuantityLedger</a></li>
							</ul>
						</li>

						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Master</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/masterArea" class="nav-link">MasterArea</a></li>
								<li class="nav-item"><a href="/masterCategories" class="nav-link">MasterCategories</a></li>
								<li class="nav-item"><a href="/masterEmployee" class="nav-link">MasterEmployee</a></li>
								<li class="nav-item"><a href="/masterGrade" class="nav-link">MasterGrade</a></li>
								<li class="nav-item"><a href="/masterProducts" class="nav-link">MasterProducts</a></li>
								<li class="nav-item"><a href="/masterProductGroup" class="nav-link">MasterProductGroup</a></li>
								<li class="nav-item"><a href="/masterTeams" class="nav-link">MasterTeams</a></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Customers</span></a>
							
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/masterCustomer" class="nav-link">MasterCustomer</a></li>
								<li class="nav-item"><a href="/masterFirm" class="nav-link">MasterFirm</a></li>
								<li class="nav-item"><a href="/customerContact" class="nav-link">Contact</a></li>
								<li class="nav-item"><a href="/customerCategory" class="nav-link">Categories</a></li>
								<li class="nav-item"><a href="/customerFirm" class="nav-link">Firms</a></li>
								<li class="nav-item"><a href="/customerProduct" class="nav-link">Products</a></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Transport</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/transportDetails" class="nav-link">Details</a></li>
								<li class="nav-item"><a href="/transportContacts" class="nav-link">Contacts</a></li>
								<li class="nav-item"><a href="/transportStations" class="nav-link">Stations</a></li>
								<li class="nav-item"><a href="/transportTrucks" class="nav-link">Trucks</a></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Vendor</span></a>
							
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/masterVendors" class="nav-link">MasterVendors</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- /main navigation -->

			</div>
			<!-- /sidebar content -->
			
		</div>
		<!-- /main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header page-header-light">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">PigIron</span> - Market Plan</h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>
				</div>
			</div>
			<!-- /page header -->


			<!-- Content area -->
			<div class="content">

				<!-- Dashboard content -->
				<div class="row">
					<div class="col-md-12">
						<div class="card" style="overflow-x: auto;">
							<div class="card-header header-elements-inline">
								<h5 class="card-title">Market-Plan</h5>
								<% if(level>2) {%>
									<button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal_form_vertical">Add new Plan</button>
								<%}%>
								<% if(level==1) {%>
									<button type="button" class="btn btn-light" data-toggle="modal" data-target="#customer_form_vertical">Add new Customer</button>
								<%}%>
								<div class="header-elements">
									<div class="list-icons">
										<a class="list-icons-item" data-action="collapse"></a>
										<a class="list-icons-item" data-action="reload"></a>
										<a class="list-icons-item" data-action="remove"></a>
									</div>
								</div>
							</div>

							<% if(data.length>0) {%>
    
								<table class="table datatable-basic table-bordered table-striped table-hover" style="table-layout: auto; width: 100%; overflow-x: auto;">
									
									<thead>
										<tr>
                                            <th>customerName</th>
                                            <th>area</th>
                                            <th>grade</th>
                                            <th>category</th>
                                            <th>product</th>
                                            <th>lastDelivery</th>
                                            <th>representative</th>
                                            <th>phoneNumber</th>
                                            <th>meetingDates</th>
                                            <th>currentRemark</th>
											<th>remarkStatus</th>
                                            <th>nextDate</th>
                                            <th>currentIssue</th>
                                            <th>analysed</th>
                                            <th>updateTimeStamp</th>
                                            <th>totalIssue</th>
											<% if(level>2) {%>
												<th>Edit</th>
												<th>Delete</th>
											<%}else if(level>1){%>
												<th>Edit</th>
											<%}else{%>
												<th>Edit</th>
											<%}%>
										</tr>
									</thead >
									
									<% for(var i=0; i<data.length; i++) {%>
										<tr class="<%= data[i].serialNumber%>pigIron">
											<%if(level==1) {%>
                                                <td class="customerName"><%= data[i].customerName%></td>
                                                <td name="area" class="area"><%= data[i].area%></td> 
                                                <td name="grade" class="grade"><%= data[i].grade%></td> 
                                               											
                                                
                                                <td name="category" class="category"><%= data[i].category%></td>

                                                <td name="product" class="product"><%= data[i].product%></td> 
												<td class="lastDelivery" ><%= data[i].lastDelivery%></td>
												<td class="representative" ><%= data[i].representative%></td>
                                                <td class="phoneNumber" ><%= data[i].phoneNumber%></td>
                                                <td class="meetingDates" ><%= data[i].meetingDates%></td>
                                                <td class="currentRemark" ><%= data[i].currentRemark%></td>
												<td class="remarkStatus" ><%= data[i].remarkStatus%></td>
                                                <td class="nextDate" ><%= data[i].nextDate%></td>
                                                <td name="currentIssue" class="currentIssue"><%= data[i].currentIssue%></td>
                                                <td class="analysed" ><%= data[i].analysed%></td>
                                                <td class="updateTimeStamp" ><%= data[i].updateTimeStamp%></td>
                                                <td class="totalIssue" ><%= data[i].totalIssue%></td>
												<td>
                                                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal_uedit" data-popup="popover" onclick="ueedit('<%= data[i].serialNumber %>pigIron')" data-popup="popover" title="Edit <%= data[i].customerName%>" data-trigger="hover" data-content="Click to change data">Edit</button>
                                                </td>
											<%} else if(level>2) {%>
                                                
                                                <td class="customerName"><button type="button" class="btn btn-light" data-toggle="modal" onclick="custInfo('<%= data[i].customerName%>')" data-target="#customer_information"><%= data[i].customerName%></button></td>
                                                <td name="area" class="area"><%= data[i].area%></td> 
                                                <td name="grade" class="grade"><%= data[i].grade%></td> 
                                               											
                                                
                                                <td name="category" class="category"><%= data[i].category%></td>

                                                <td name="product" class="product"><%= data[i].product%></td> 
												<td class="lastDelivery" ><%= data[i].lastDelivery%></td>
												<td class="representative" ><%= data[i].representative%></td>
                                                <td class="phoneNumber" ><%= data[i].phoneNumber%></td>
                                                <td class="meetingDates" ><%= data[i].meetingDates%></td>
                                                <td class="currentRemark" ><%= data[i].currentRemark%></td>
												<td class="remarkStatus" ><%= data[i].remarkStatus%></td>
                                                <td class="nextDate" ><%= data[i].nextDate%></td>
                                                <td name="currentIssue" class="currentIssue"><%= data[i].currentIssue%></td>
                                                <td class="analysed" ><%= data[i].analysed%></td>
                                                <td class="updateTimeStamp" ><%= data[i].updateTimeStamp%></td>
                                                <td class="totalIssue" ><%= data[i].totalIssue%></td>
												<td>
													<button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal_edit" data-popup="popover" onclick="eedit('<%= data[i].serialNumber %>pigIron')" data-popup="popover" title="Edit <%= data[i].customerName%>" data-trigger="hover" data-content="Click to change data">Edit</button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal_del" data-popup="popover" onclick="ddel('<%= data[i].serialNumber%>pigIron')" data-popup="popover" title="Delete <%= data[i].customerName%>" data-trigger="hover" data-content="Click Delete Button to remove Master Customer and reload page to see changes">Delete</button>
                                                </td>
											<%}else if(level>1){%>
                                                <td class="customerName"><button type="button" class="btn btn-light" data-toggle="modal" onclick="custInfo('<%= data[i].customerName%>')" data-target="#customer_information"><%= data[i].customerName%></button></td>
                                                <td name="area" class="area">
													<%= data[i].area%>
												</td> 
                                                <td name="grade" class="grade">
													<%= data[i].grade%>
												</td> 
                                                <td name="category" class="category">
													<%= data[i].category%>
												</td>
                                                <td name="product" class="product">
													<%= data[i].product%>
													</td> 
												<td class="lastDelivery" ><%= data[i].lastDelivery%></td>
                                                <td class="representative" >
													<%= data[i].representative%>
												</td>
                                                <td class="phoneNumber" ><%= data[i].phoneNumber%></td>
                                                <td class="meetingDates" ><%= data[i].meetingDates%></td>
                                                <td class="currentRemark" ><%= data[i].currentRemark%></td>
												<td class="remarkStatus" ><%= data[i].remarkStatus%></td>
                                                <td class="nextDate" ><%= data[i].nextDate%></td>
                                                <td name="currentIssue" class="currentIssue">
													<%= data[i].currentIssue%>
												</td>
                                                <td class="analysed" ><%= data[i].analysed%></td>
                                                <td class="updateTimeStamp" ><%= data[i].updateTimeStamp%></td>
                                                <td class="totalIssue" ><%= data[i].totalIssue%></td>
												<td>
													<button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal_edit" data-popup="popover" onclick="eedit('<%= data[i].serialNumber %>pigIron')" data-popup="popover" title="Edit <%= data[i].customerName%>" data-trigger="hover" data-content="Click to change data">Edit</button>
                                                </td>
											<%}%>
										</tr>
									<% } %>
								</table>
							
							<%}else{%>
								<h4>No data</h4>
							<%}%>

								
									
							<div class="form-group">
								<div class="row">
									<div class="col-sm-2">
										<label for="customerName" class="form-control"><span class="font-weight-semibold">customerName</span></label>
										<select name="customerName" class="form-control multiselect-filtering customerName" id="customerNameFil" multiple="multiple" data-fouc>
                                            <% for(var i=0; i<data.length; i++) {%>
                                                <option value="<%=data[i].customerName%>"><%=data[i].customerName%></option>
                                            <% } %>	
										</select>
									</div>
									<div class="col-sm-2">
										<label for="area" class="form-control"><span class="font-weight-semibold">area</span></label>
										<select name="area" class="form-control multiselect-filtering  area" id="areaFil" multiple="multiple" data-fouc>
                                            <% for(var i=0; i<data.length; i++) {%>
                                                <option value="<%=data[i].area%>"><%=data[i].area%></option>
                                            <% } %>	
										</select>
									</div>
									<div class="col-sm-2">
										<label for="grade" class="form-control"><span class="font-weight-semibold">grade</span></label>
										<select name="grade" class="form-control multiselect-filtering grade" id="gradeFil" multiple="multiple" data-fouc>
                                            <% for(var i=0; i<data.length; i++) {%>
                                                <option value="<%=data[i].grade%>"><%=data[i].grade%></option>
                                            <% } %>	
										</select>
									</div>
									<div class="col-sm-2">
										<label for="category" class="form-control"><span class="font-weight-semibold">category</span></label>
										<select name="category" class="form-control multiselect-filtering category" id="categoryFil" multiple="multiple" data-fouc>
                                            <% for(var i=0; i<data.length; i++) {%>
                                                <option value="<%=data[i].category%>"><%=data[i].category%></option>
                                            <% } %>	
										</select>
									</div>
									<div class="col-sm-2">
										<label for="product" class="form-control"><span class="font-weight-semibold">product</span></label>
										<select name="product" class="form-control multiselect-filtering product" id="productFil" multiple="multiple" data-fouc>
                                            <% for(var i=0; i<data.length; i++) {%>
                                                <option value="<%=data[i].product%>"><%=data[i].product%></option>
                                            <% } %>	
										</select>
									</div>
									<div class="col-sm-2">
										<label for="representative" class="form-control"><span class="font-weight-semibold">representative</span></label>
										<select name="representative" class="form-control multiselect-filtering representative" id="representativeFil" multiple="multiple" data-fouc>
                                            <% for(var i=0; i<data.length; i++) {%>
                                                <option value="<%=data[i].representative%>"><%=data[i].representative%></option>
                                            <% } %>	
										</select>
									</div>									
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<button onclick="fil()" class="form-control btn bg-primary" type="button">Filter</button>
								</div>
							</div>
							<div class="card" style="overflow-x: auto;" id="koiBhi"></div>
							<div class="card" style="overflow-x: auto;" id="chlna"></div>
						




							
							<!-- Vertical form modal -->
							<div id="modal_form_vertical" class="modal fade" tabindex="-1">
							
					            <div class="modal-dialog">
						            <div class="modal-content">
							            <div class="modal-header">
								            <h5 class="modal-title">New Market Plan </h5>
								            <button type="button" class="close" data-dismiss="modal">&times;</button>
							            </div>

							            <form action="/marketPlanPigIron" method="POST">
								            <div class="modal-body">
									            
												<div class="form-group">
										            <div class="row">
											            
														<div class="col-sm-6">
												            <label>Customer Name<span class="text-danger">*</span></label>
												            <select required id="customerName" name="customerName" class="customerName form-control" id="customerName">
                                                                <option value="" disabled selected>-Select-</option>
                                                                <% for(var i=0; i<custdata.length; i++) {%>
                                                                    <option value="<%=custdata[i].customerName%>"><%=custdata[i].customerName%></option>
                                                                <% } %>
                                                            </select>
											            </div>

														<div class="col-sm-6">
															
															<label>Category-Product<span class="text-danger">*</span></label>
															<select name="categoryProduct" required class="form-control categoryProduct" id="categoryProduct">
																<option value="" disabled selected>-Select-</option>
                                                                <optgroup label="Retail">
																	<% for(var i=0; i<productData.length; i++) {%>
																		<option value="R<%=productData[i].productName%>">RETAIL <%=productData[i].productName%></option>
																	<% } %>
																	
																</optgroup>
																<optgroup label="Trader">
																	<% for(var i=0; i<productData.length; i++) {%>
																		<option value="T<%=productData[i].productName%>">TRADER <%=productData[i].productName%></option>
																	<% } %>
																</optgroup>
																<optgroup label="Wholesale">
																	<% for(var i=0; i<productData.length; i++) {%>
																		<option value="W<%=productData[i].productName%>">WHOLESALE <%=productData[i].productName%></option>
																	<% } %>
																</optgroup>
                                                            </select>
											            </div>

										            </div>
									            </div>
                                                
									            <div class="form-group">
										            <div class="row">
                                                       
											            

											            <!-- <div class="col-sm-4">
												            <label>Category</label>
															<select id="category" name="category" class="form-control category" id="category">
                                                                <option value="" disabled selected>-Select-</option>
                                                                <% for(var i=0; i<catdata.length; i++) {%>
                                                                    <option value="<%=catdata[i].categoriesType%>"><%=catdata[i].categoriesType%></option>
                                                                <% } %>
                                                            </select>
											            </div>
											            <div class="col-sm-4">
												            <label>product</label>
												            <select id="product" name="product" class="form-control product" id="product">
                                                                <option value="" disabled selected>-Select-</option>
                                                                <% for(var i=0; i<productData.length; i++) {%>
                                                                    <option value="<%=productData[i].productName%>"><%=productData[i].productName%></option>
                                                                <% } %>
                                                            </select>
											            </div> -->

										            </div>
									            </div>

									            <div class="form-group">
										            <div class="row">
											            <div class="col-sm-4">
												            <label>Representative<span class="text-danger">*</span></label>
												            <select required id="representative" name="representative" class="form-control representative" id="representative">
                                                                <option value="" disabled selected>-Select-</option>
                                                                <% for(var i=0; i<teamData.length; i++) {%>
                                                                    <option value="<%=teamData[i].teamMember%>"><%=teamData[i].teamMember%></option>
                                                                <% } %>
                                                            </select>
											            </div>
											            <div class="col-sm-4">
												            <label>Phone Number<span class="text-danger">*</span></label>
												            <input type="number" required placeholder="10-digit-format" pattern="[0-9]{10}" class="form-control phoneNumber" name="phoneNumber" id="phoneNumber">
											            </div>
											            <div class="col-sm-4">
												            <label>Meeting Dates<span class="text-danger">*</span></label>
												            <input required type="date" placeholder="meetingDates" class="form-control meetingDates" name="meetingDates" id="meetingDates">
											            </div>
										            </div>
									            </div>

									            <div class="form-group">
										            <div class="row">
											            <div class="col-sm-4">
												            <label>lastDelivery<span class="text-danger">*</span></label>
												            <input required type="date" placeholder="lastDelivery" class="form-control lastDelivery" name="lastDelivery" id="lastDelivery">
											            </div>
											            <!-- <div class="col-sm-4">
												            <label>currentRemark</label>
												            <input type="text" placeholder="currentRemark" class="form-control currentRemark" name="currentRemark" id="currentRemark">
											            </div>
														<div class="col-sm-4">
															<label>remarkStatus</label>
															<select id="remarkStatus" name="remarkStatus" class="form-control remarkStatus" id="remarkStatus">
																<option value="" disabled selected>-Select-</option>
																<option value="VERIFIED">VERIFIED</option>
																<option value="UNVERIFIED">UNVERIFIED</option>
															</select>
														</div> -->
										            </div>
									            </div>

									            <!-- <div class="form-group">
										            <div class="row">
											            <div class="col-sm-6">
												            <label>nextDate</label>
												            <input type="text" placeholder="nextDate" class="form-control nextDate" name="nextDate" id="nextDate">
											            </div>
											            <div class="col-sm-6">
												            <label>currentIssue</label>
												            <input type="text" placeholder="office ka number" class="form-control currentIssue" name="currentIssue" id="currentIssue">
											            </div>
										            </div>
									            </div>

									            <div class="form-group">
										            <div class="row">
											            <div class="col-sm-6">
												            <label>analysed</label>
												            <input type="text" placeholder="analysed" class="form-control analysed" name="analysed" id="analysed">
											            </div>
											            <div class="col-sm-6">
												            <label>updateTimeStamp</label>
												            <input type="text" placeholder="updateTimeStamp" class="form-control updateTimeStamp" name="updateTimeStamp" id="updateTimeStamp">
											            </div>
										            </div>
									            </div>

									            <div class="form-group">
										            <div class="row">
											            <div class="col-sm-12">
												            <label>totalIssue</label>
												            <input type="text" placeholder="Issue" class="form-control totalIssue" name="totalIssue" id="totalIssue">
											            </div>
											            
										            </div>
									            </div> -->
									            

								            </div>

								            <div class="modal-footer">
									            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
									            <button type="submit" class="btn bg-primary">Add</button>
								            </div>
							            </form>
						            </div>
					            </div>
				            </div>





							





							<!-- EDIT modal -->
							<div id="modal_edit" class="modal fade" tabindex="-1">
					            <div class="modal-dialog">
						            <div class="modal-content">
							            <div class="modal-header">
								            <h5 class="modal-title">Edit Market Plan</h5>
								            <button type="button" class="close" data-dismiss="modal">&times;</button>
							            </div>

								        <div class="modal-body" id="blast">
									        
								        </div>

								        <div class="modal-footer" id="off">
									        
								        </div>
						            </div>
					            </div>
				            </div>
							
							
							<!-- EDIT modal -->
							<div id="modal_uedit" class="modal fade" tabindex="-1">
					            <div class="modal-dialog">
						            <div class="modal-content">
							            <div class="modal-header">
								            <h5 class="modal-title">Edit Market Plan</h5>
								            <button type="button" class="close" data-dismiss="modal">&times;</button>
							            </div>

								        <div class="modal-body" id="ublast">
									        
								        </div>

								        <div class="modal-footer" id="uoff">
									        
								        </div>
						            </div>
					            </div>
				            </div>
							
							
							
							<!-- DEL modal -->
							<div id="modal_del" class="modal fade" tabindex="-1">
					            <div class="modal-dialog">
						            <div class="modal-content">
							            <div class="modal-header">
								            <h5 class="modal-title">Delete Market Plan</h5>
								            <button type="button" class="close" data-dismiss="modal">&times;</button>
							            </div>

								        <div class="modal-body" id="blasto">
									        
								        </div>

								        <div class="modal-footer" id="offo">
									        
								        </div>
						            </div>
					            </div>
				            </div>











							<!-- Vertical form modal -->
								<div id="customer_information" class="modal fade" tabindex="-1">
									<div class="modal-dialog modal-lg">
										<div class="modal-content ">
											<div class="modal-header">
												<h4 class="modal-title">Master Customer </h4>
												
												<button type="button" class="close" data-dismiss="modal">&times;</button>
											</div>
				
											<div class="modal-body" id="ekdin">
											</div>
				
											<div class="modal-footer">
												<button type="button" class="btn btn-link text-white" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>





















								<div id="customer_form_vertical" class="modal fade" tabindex="-1">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">New Master Customer</h5>
												<button type="button" class="close" data-dismiss="modal">&times;</button>
											</div>
				
											<form action="/masterCustomer" method="POST">
												<div class="modal-body">
													<div class="form-group">
														<div class="row">
															<div class="col-sm-6">
																<label>Customer Name<span class="text-danger">*</span></label>
																<input type="text" placeholder="Ujjwal Raturi" class="form-control customerName" required name="customerName" id="customerName">
															</div>
				
														</div>
													</div>
				
													<div class="form-group">
														<div class="row">
															<div class="col-sm-12">
																<label>Firm<span class="text-danger">*</span></label>
																<select name="firm" class="form-control firm" id="firm" required>
																	<option value="" disabled selected>-Select-</option>
																	<% for(var i=0; i<firmData.length; i++) {%>
																		<option value="<%=firmData[i].firmName%>"><%=firmData[i].firmName%></option>
																	<% } %>
																</select>
															</div>
														</div>
													</div>
													
													<div class="form-group">
														<div class="row">
															<div class="col-sm-4">
																<label>Area<span class="text-danger">*</span></label>
																<select id="area" name="area" class="form-control area" id="area" required>
																	<option value="" disabled selected>-Select-</option>
																	<% for(var i=0; i<areaData.length; i++) {%>
																		<option value="<%=areaData[i].area%>"><%=areaData[i].area%></option>
																	<% } %>
																</select>
																
															</div>
															
															<div class="col-sm-4">
																<label>grade<span class="text-danger">*</span></label>
																<select id="grade" name="grade" class="form-control grade" id="grade" required>
																	<option value="" disabled selected>-Select-</option>
																	<% for(var i=0; i<gradeData.length; i++) {%>
																		<option value="<%=gradeData[i].gradeType%>"><%=gradeData[i].gradeType%></option>
																	<% } %>
																</select>
															</div>											
														</div>
													</div>
				
													<div class="form-group">
														<div class="row">
															<div class="col-sm-4">
																<label>Contact<span class="text-danger">*</span></label>
																<input type="tel" required placeholder="10-digit-format" class="form-control contact" name="contact" id="contact" pattern="[0-9]{10}">
															</div>
				
															<div class="col-sm-4">
																<label>Category<span class="text-danger">*</span></label>
																<select name="category" class="category form-control" required>
																	<option value="" disabled selected>-Select-</option>
																	<% for(var j=0; j<catdata.length; j++) {%>
																		<option value="	<%=catdata[j].categoriesType%>"><%=catdata[j].categoriesType%></option>
																	<% } %>
																</select>
															</div>
				
															
															
														</div>
													</div>
													
													<div class="form-group">
														<div class="row">
															
															<div class="col-sm-12">
																<label>Products<span class="text-danger">*</span></label>
																<select name="productFil" class="form-control multiselect-filtering productFil" required id="productFil" multiple="multiple" data-fouc >
																	<% for(var i=0; i<productData.length; i++) {%>
																		<option value="<%=productData[i].productName%>"><%=productData[i].productName%></option>
																	<% } %>	
																</select>
																
															</div>
				
														</div>
													</div>
													<div class="form-group">
														<div class="row">
															<div class="col-sm-4">
																<label>Pincode<span class="text-danger">*</span></label>
																<input type="tel" required placeholder="6-digit-format" class="form-control pincode" name="pincode" id="pincode" pattern="[0-9]{6}">
															</div>
				
															<div class="col-sm-8">
																<label>Address<span class="text-danger">*</span></label>
																<input type="text" required placeholder="Meerut" class="form-control address" name="address" id="address">
															</div>
				
														</div>
													</div>
				
													<div class="form-group">
														<div class="row">
															<div class="col-sm-6">
																<label>Reference Number 1</label>
																<input type="text" placeholder="Ishu" class="form-control referenceNumber1" name="referenceNumber1" id="referenceNumber1">
																<!-- <span class="form-text text-muted">name@domain.com</span> -->
															</div>
				
															<div class="col-sm-6">
																<label>Reference Number 2</label>
																<input type="text" placeholder="Kios" class="form-control referenceNumber2" name="referenceNumber2"  id="referenceNumber2">
																<!-- <span class="form-text text-muted">+99-99-9999-9999</span> -->
															</div>
														</div>
													</div>
				
													<div class="form-group">
														<div class="row">
															<div class="col-sm-6">
																<label>Credit Limit</label>
																<input type="number" placeholder="150" class="form-control creditLimit" name="creditLimit" id="creditLimit">
																<!-- <span class="form-text text-muted">150</span> -->
															</div>
				
															<div class="col-sm-6">
																<label>Credit Days</label>
																<input type="number" placeholder="21" class="form-control creditDays" name="creditDays" id="creditDays">
																<!-- <span class="form-text text-muted">21</span> -->
															</div>
														</div>
													</div>
												</div>
				
												<div class="modal-footer">
													<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
													<button  class="btn bg-primary">Add</button>
												</div>
											</form>
										</div>
									</div>
								</div>








							

			            </div>
		            </div>
					
		        </div>
				<!-- /dashboard content -->

			</div>
			<!-- /content area -->


			<!-- Footer -->
			<!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->


	
</body>

</html>


<script>
    function uEdit(value)
    {
		console.log("uEdit")
		var ecustomerName = document.getElementById("ecustomerName").innerText;
        var earea = document.getElementById("earea").innerText;
        var egrade = document.getElementById("egrade").innerText;
        var ecategory = document.getElementById("ecategory").innerText;
        var eproduct = document.getElementById("eproduct").innerText;
        var elastDelivery = document.getElementById("elastDelivery").innerText;
        var erepresentative = document.getElementById("erepresentative").innerText;
        var ephoneNumber = document.getElementById("ephoneNumber").innerText;

        var ecurrentRemark = document.getElementById("ecurrentRemark").value;
        var enextDate = document.getElementById("enextDate").value;
        var ecurrentIssue = document.getElementById("ecurrentIssue").value;
        
        $.post("/marketPlanPigIron",
		{
			id: value,
			customerName:ecustomerName,
			area: earea,
			grade: egrade,
			category: ecategory,
			product: eproduct,
			lastDelivery: elastDelivery,
			representative: erepresentative,
			phoneNumber: ephoneNumber,
			
			currentRemark: ecurrentRemark,
			
			nextDate: enextDate,
			currentIssue: ecurrentIssue,
			
			op:"uedt"
		},
		function (data, status) {
			console.log("check edit wala data");
			console.log(data);
			console.log(status);
			setInterval('refreshPage()', 500);
		}
		);
    }
</script>

<script>



    function edit(value)
    {
        console.log("3333333333333333333333333333333");
        console.log(value);
		
		var ecustomerName = document.getElementById("ecustomerName").value;
        var earea = document.getElementById("earea").value;
        var egrade = document.getElementById("egrade").value;
        var ecategory = document.getElementById("ecategory").value;
        var eproduct = document.getElementById("eproduct").value;
        var elastDelivery = document.getElementById("elastDelivery").value;
        var erepresentative = document.getElementById("erepresentative").value;
        var ephoneNumber = document.getElementById("ephoneNumber").value;
        var emeetingDates = document.getElementById("emeetingDates").value;
        var ecurrentRemark = document.getElementById("ecurrentRemark").value;
        var eremarkStatus = document.getElementById("eremarkStatus").value;
        var enextDate = document.getElementById("enextDate").value;
        var ecurrentIssue = document.getElementById("ecurrentIssue").value;
        var eanalysed = document.getElementById("eanalysed").value;
        var eupdateTimeStamp = document.getElementById("eupdateTimeStamp").value;
        var etotalIssue = document.getElementById("etotalIssue").value;
        


        $.post("/marketPlanPigIron",
            {
                id: value,
                customerName:ecustomerName,
                area: earea,
                grade: egrade,
                category: ecategory,
                product: eproduct,
                lastDelivery: elastDelivery,
                representative: erepresentative,
                phoneNumber: ephoneNumber,
                meetingDates: emeetingDates,
                currentRemark: ecurrentRemark,
                remarkStatus: eremarkStatus,
                nextDate: enextDate,
                currentIssue: ecurrentIssue,
                analysed: eanalysed,
                updateTimeStamp: eupdateTimeStamp,
                totalIssue: etotalIssue,
                op:"edt"
            },
            function (data, status) 
			{
                console.log(data);
                console.log(status);
				setInterval('refreshPage()', 500);
            });
        
    }
</script>


<script>
    function del(value)
    {
        console.log(value);
        $.post("/marketPlanPigIron",
            {
                id: value,
                op:"del"
            },
            function (data, status) {
                console.log(data);
                console.log(status);
				setInterval('refreshPage()', 500);
            }
            );
    }

	function refreshPage() {
    	location.reload(true);
	}


	function ueedit(value)
    {
        console.log(value);
        var sub = 'pigIron';
        var result = value.replace(sub,'');
        console.log(result);
        
        $('.'+value).each(function() 
        {   
			console.log("qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq")
            var customerName = $(this).find(".customerName")[0].innerText;    
            var area = $(this).find(".area").html();    
            var grade = $(this).find(".grade").html();    
            var category = $(this).find(".category").html();    
            var product = $(this).find(".product").html();    
            var lastDelivery = $(this).find(".lastDelivery").html();    
            var representative = $(this).find(".representative").html();    
            var phoneNumber = $(this).find(".phoneNumber").html();    
            var meetingDates = $(this).find(".meetingDates").html();    
            var currentRemark = $(this).find(".currentRemark").html();    
            var remarkStatus = $(this).find(".remarkStatus").html();    
            var nextDate = $(this).find(".nextDate").html();    
            var currentIssue = $(this).find(".currentIssue").html();    
            var analysed = $(this).find(".analysed").html();     
            var updateTimeStamp = $(this).find(".updateTimeStamp").html();     
            var totalIssue = $(this).find(".totalIssue").html();     
            


			console.log(customerName)
			console.log(area)
			console.log("++++++++++++++++++++++++++++++++++++++++")
			console.log(result)
			
			
            var tek = '<div class="card" style="text-align:center;"> <table class="table datatable-basic table-bordered table-striped table-hover"> <tr> <td >customerName</td> <td class="form-control ecustomerName" name="ecustomerName" id="ecustomerName">'+customerName+'</td> </tr> <tr> <td>area</td> <td class="form-control earea" name="earea" id="earea">'+area+' </td> </tr> </tr> <tr> <td>grade</td> <td class="form-control egrade" name="egrade" id="egrade">'+grade+' </td> </tr> <tr> <td>category</td> <td class="form-control ecategory" name="ecategory" id="ecategory">'+category+' </td> </tr> <tr> <td>product</td> <td class="form-control eproduct" name="eproduct" id="eproduct">'+product+' </td> </tr> <tr> <td>lastDelivery</td> <td class="form-control elastDelivery" name="elastDelivery" id="elastDelivery">'+lastDelivery+' </td> </tr> <tr> <td>representative</td> <td class="form-control erepresentative" name="erepresentative" id="erepresentative">'+representative+' </td> </tr> <tr> <td>phoneNumber</td> <td class="form-control ephoneNumber" name="ephoneNumber" id="ephoneNumber">'+phoneNumber+' </td> </tr> <tr> <td>meetingDates</td> <td class="form-control emeetingDates" name="emeetingDates" id="emeetingDates">'+meetingDates+' </td> </tr>  <tr> <td>currentRemark</td> <td><input type="text" value="'+currentRemark+'" class="form-control ecurrentRemark" name="ecurrentRemark" id="ecurrentRemark"></td> </tr> <tr> <td>remarkStatus</td> <td>'+remarkStatus+' </td> </tr> <tr> <td>nextDate</td> <td><input type="date" value="'+nextDate+'" class="form-control enextDate" name="enextDate" id="enextDate"></td> </tr> <tr> <td>currentIssue</td> <td><input type="text" value="'+currentIssue+'" class="form-control ecurrentIssue" name="ecurrentIssue" id="ecurrentIssue"></td> </tr> <tr> <td>analysed</td> <td>'+analysed+' </td> </tr> <tr> <td>updateTimeStamp</td> <td>'+updateTimeStamp+' </td> </tr> <tr> <td>totalIssue</td> <td>'+totalIssue+' </td> </tr> </table> </div>'
				
			var bt="<button type='button' class='btn btn-link' style='color:teal' data-dismiss='modal'>Cancel</button> <button type='submit' onclick='uEdit("+result+")' data-dismiss='modal' class='btn bg-teal-400'>Save</button>"
			console.log("Ujjwal")
			document.getElementById("ublast").innerHTML=tek;
			document.getElementById("uoff").innerHTML=bt;
			console.log("++++++++++++++++++++++++++++++++++++++++")
			
		});
    }
	
	function eedit(value)
    {
        console.log(value);
        var sub = 'pigIron';
        var result = value.replace(sub,'');
        console.log(result);
        
        $('.'+value).each(function() 
        {   
			console.log("qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq")
            var customerName = $(this).find(".customerName")[0].innerText;    
            var area = $(this).find(".area").html();    
            var grade = $(this).find(".grade").html();    
            var category = $(this).find(".category").html();    
            var product = $(this).find(".product").html();    
            var lastDelivery = $(this).find(".lastDelivery").html();    
            var representative = $(this).find(".representative").html();    
            var phoneNumber = $(this).find(".phoneNumber").html();    
            var meetingDates = $(this).find(".meetingDates").html();    
            var currentRemark = $(this).find(".currentRemark").html();    
            var remarkStatus = $(this).find(".remarkStatus").html();    
            var nextDate = $(this).find(".nextDate").html();    
            var currentIssue = $(this).find(".currentIssue").html();    
            var analysed = $(this).find(".analysed").html();     
            var updateTimeStamp = $(this).find(".updateTimeStamp").html();     
            var totalIssue = $(this).find(".totalIssue").html();     
            


			console.log(customerName)
			console.log(area)
			console.log("++++++++++++++++++++++++++++++++++++++++")
			console.log(result)
			
			
            var tek = '<div class="card" style="text-align:center;"> <table class="table datatable-basic table-bordered table-striped table-hover"> <tr> <td >customerName</td> <td><input type="text" value="'+customerName+'" class="form-control ecustomerName" name="ecustomerName" id="ecustomerName"></td> </tr> <tr> <td>area</td> <td><input type="text" value="'+area+'" class="form-control earea" name="earea" id="earea"></td> </tr> <tr> <td>grade</td> <td><input type="text" value="'+grade+'" class="form-control egrade" name="egrade" id="egrade"></td> </tr> <tr> <td>category</td> <td><input type="text" value="'+category+'" class="form-control ecategory" name="ecategory" id="ecategory"></td> </tr> <tr> <td>product</td> <td><input type="text" value="'+product+'" class="form-control eproduct" name="eproduct" id="eproduct"></td> </tr> <tr> <td>lastDelivery</td> <td><input type="text" value="'+lastDelivery+'" class="form-control elastDelivery" name="elastDelivery" id="elastDelivery"></td> </tr> <tr> <td>representative</td> <td><input type="text" value="'+representative+'" class="form-control erepresentative" name="erepresentative" id="erepresentative"></td> </tr> <tr> <td>phoneNumber</td> <td><input type="text" value="'+phoneNumber+'" class="form-control ephoneNumber" name="ephoneNumber" id="ephoneNumber"></td> </tr>   <tr> <td>meetingDates</td> <td><input type="date" value="'+meetingDates+'" class="form-control emeetingDates" name="emeetingDates" id="emeetingDates"></td> </tr>  <tr> <td>currentRemark</td> <td><input type="text" value="'+currentRemark+'" class="form-control ecurrentRemark" name="ecurrentRemark" id="ecurrentRemark"></td> </tr> <tr> <td>remarkStatus</td> <td><input type="text" value="'+remarkStatus+'" class="form-control eremarkStatus" name="eremarkStatus" id="eremarkStatus"></td> </tr> <tr> <td>nextDate</td> <td><input type="date" value="'+nextDate+'" class="form-control enextDate" name="enextDate" id="enextDate"></td> </tr> <tr> <td>currentIssue</td> <td><input type="text" value="'+currentIssue+'" class="form-control ecurrentIssue" name="ecurrentIssue" id="ecurrentIssue"></td> </tr> <tr> <td>analysed</td> <td><input type="text" value="'+analysed+'" class="form-control eanalysed" name="eanalysed" id="eanalysed"></td> </tr> <tr> <td>updateTimeStamp</td> <td><input type="text" value="'+updateTimeStamp+'" class="form-control eupdateTimeStamp" name="eupdateTimeStamp" id="eupdateTimeStamp"></td> </tr> <tr> <td>totalIssue</td> <td><input type="text" value="'+totalIssue+'" class="form-control etotalIssue" name="etotalIssue" id="etotalIssue"></td> </tr> </table> </div>'
				
			var bt="<button type='button' class='btn btn-link' style='color:teal' data-dismiss='modal'>Cancel</button> <button type='submit' onclick='edit("+result+")' data-dismiss='modal' class='btn bg-teal-400'>Save</button>"
			console.log("Ujjwal")
			document.getElementById("blast").innerHTML=tek;
			document.getElementById("off").innerHTML=bt;
			console.log("++++++++++++++++++++++++++++++++++++++++")
			
		});
    }
	
	function ddel(value)
    {
        console.log(value);
        var sub = 'pigIron';
        var result = value.replace(sub,'');
        console.log(result);
        
        $('.'+value).each(function() 
        {   
			console.log("aaaaaaaaaaaaaaaaaaaaaaaa")
            var customerName = $(this).find(".customerName")[0].innerText;    
            var area = $(this).find(".area").html();    
            var grade = $(this).find(".grade").html();    
            var category = $(this).find(".category").html();    
            var product = $(this).find(".product").html();    
            var lastDelivery = $(this).find(".lastDelivery").html();    
            var representative = $(this).find(".representative").html();    
            var phoneNumber = $(this).find(".phoneNumber").html();    
            var meetingDates = $(this).find(".meetingDates").html();    
            var currentRemark = $(this).find(".currentRemark").html();    
            var remarkStatus = $(this).find(".remarkStatus").html();    
            var nextDate = $(this).find(".nextDate").html();    
            var currentIssue = $(this).find(".currentIssue").html();    
            var analysed = $(this).find(".analysed").html();     
            var updateTimeStamp = $(this).find(".updateTimeStamp").html();     
            var totalIssue = $(this).find(".totalIssue").html();     
                
			console.log(result)


            var tek = '<div class="card" style="text-align:center;"> <table class="table datatable-basic table-bordered table-striped table-hover"> <tr> <td >customerName</td> <td>'+customerName+'</td> </tr> <tr> <td>area</td> <td>'+area+' </td> </tr> </tr> <tr> <td>grade</td> <td>'+grade+' </td> </tr> <tr> <td>category</td> <td>'+category+' </td> </tr> <tr> <td>product</td> <td>'+product+' </td> </tr> <tr> <td>lastDelivery</td> <td>'+lastDelivery+' </td> </tr> <tr> <td>representative</td> <td>'+representative+' </td> </tr> <tr> <td>phoneNumber</td> <td>'+phoneNumber+' </td> </tr> <tr> <td>meetingDates</td> <td>'+meetingDates+' </td> </tr> <tr> <td>currentRemark</td> <td>'+currentRemark+' </td> </tr> <tr> <td>remarkStatus</td> <td>'+remarkStatus+' </td> </tr> <tr> <td>nextDate</td> <td>'+nextDate+' </td> </tr> <tr> <td>currentIssue</td> <td>'+currentIssue+' </td> </tr> <tr> <td>analysed</td> <td>'+analysed+' </td> </tr> <tr> <td>updateTimeStamp</td> <td>'+updateTimeStamp+' </td> </tr> <tr> <td>totalIssue</td> <td>'+totalIssue+' </td> </tr> </table> </div>'

			var bt="<button type='button' class='btn btn-link' style='color:teal' data-dismiss='modal'>Cancel</button> <button type='submit' onclick='del("+result+")' data-dismiss='modal' class='btn bg-teal-400'>Delete</button>"
			console.log("Ujjwal")
			document.getElementById("blasto").innerHTML=tek;
			document.getElementById("offo").innerHTML=bt;

		});
    }

	function fil()
    {
		var mySelCust = document.getElementById("customerNameFil").value;
		var mySelArea = document.getElementById("areaFil").value;
		var mySelGrad = document.getElementById("gradeFil").value;
		var mySelCate = document.getElementById("categoryFil").value;
		var mySelProd = document.getElementById("productFil").value;  
		var mySelRep = document.getElementById("representativeFil").value;


		// var mySelCust = [];
    	// $('#customerNameFil option').each(function(i) {
        // if (this.selected == true) {
        //     mySelCust.push(this.value);
        // }
    	// });
		// if(mySelCust.length<1) 
		// {
		// 	mySelCust.push("");
		// }
        
		// var mySelArea = [];
    	// $('#areaFil option').each(function(i) {
        // if (this.selected == true) {
        //     mySelArea.push(this.value);
        // }
    	// });
		// if(mySelArea.length<1) 
		// {
		// 	mySelArea.push("");
		// }
        
		// var mySelGrad = [];
    	// $('#gradeFil option').each(function(i) {
        // if (this.selected == true) {
        //     mySelGrad.push(this.value);
        // }
    	// });
		// if(mySelGrad.length<1) 
		// {
		// 	mySelGrad.push("");
		// }
        
		// var mySelCate = [];
    	// $('#categoryFil option').each(function(i) {
        // if (this.selected == true) {
        //     mySelCate.push(this.value);
        // }
    	// });
		// if(mySelCate.length<1) 
		// {
		// 	mySelCate.push("");
		// }
        
		// var mySelProd = [];
    	// $('#productFil option').each(function(i) {
        // if (this.selected == true) {
        //     mySelProd.push(this.value);
        // }
    	// });
		// if(mySelProd.length<1) 
		// {
		// 	mySelProd.push("");
		// }
        
		// var mySelRep = [];
    	// $('#representativeFil option').each(function(i) {
        // if (this.selected == true) {
        //     mySelRep.push(this.value);
        // }
    	// });
		// if(mySelRep.length<1) 
		// {
		// 	mySelRep.push("");
		// }
        
		console.log(mySelCust);
        console.log(mySelArea);
        console.log(mySelGrad);
        console.log(mySelCate);
        console.log(mySelProd);
        console.log(mySelRep);

		// if(!productFil) console.log("latenite");

        console.log("ujjwal");
        $.post("/marketPlanPigIron",
        {
            customerNameFil: mySelCust,
            areaFil: mySelArea,
            gradeFil: mySelGrad,
            categoryFil: mySelCate,
            productFil: mySelProd,
            representativeFil: mySelRep,
            op:"fil"
        },
        function (dataFil, status) {
			console.log("filter kios");
            console.log(dataFil);
			check(dataFil);
            console.log(status);
        }
        );
    }
</script>

	<script>
		function check(tableData)
		{
			var table = "<table class='table datatable-basic table-bordered table-striped table-hover' style='table-layout: auto; width: 100%; overflow-x: auto;' id='tbl'> <thead> <th>customerName</th> <th>area</th> <th>grade</th> <th>category</th> <th>product</th> <th>lastDelivery</th> <th>representative</th> <th>phoneNumber</th> <th>meetingDates</th> <th>currentRemark</th> <th>remarkStatus</th> <th>nextDate</th> <th>currentIssue</th> <th>analysed</th> <th>updateTimeStamp</th> <th>totalIssue</th> </thead> <tbody> "
			for(var i=0;i<tableData.length;i++)
			{

				table+="<tr> "
					table+="<td class='customerName'>"+tableData[i].customerName+"</td>"	
					table+="<td class='area'>"+tableData[i].area+"</td>"	
					table+="<td class='grade'>"+tableData[i].grade+"</td>"	
					table+="<td class='category'>"+tableData[i].category+"</td>"	
					table+="<td class='product'>"+tableData[i].product+"</td>"	
					table+="<td class='lastDelivery'>"+tableData[i].lastDelivery+"</td>"	
					table+="<td class='representative'>"+tableData[i].representative+"</td>"
					table+="<td class='phoneNumber'>"+tableData[i].phoneNumber+"</td>"
					table+="<td class='meetingDates'>"+tableData[i].meetingDates+"</td>"
					table+="<td class='currentRemark' contenteditable='true'>"+tableData[i].currentRemark+"</td>"
					table+="<td class='remarkStatus'>"+tableData[i].remarkStatus+"</td>"
					table+="<td class='nextDate'>"+tableData[i].nextDate+"</td>"
					table+="<td class='currentIssue'>"+tableData[i].currentIssue+"</td>"
					table+="<td class='analysed'>"+tableData[i].analysed+"</td>"
					table+="<td class='updateTimeStamp'>"+tableData[i].updateTimeStamp+"</td>"
					table+="<td class='totalIssue'>"+tableData[i].totalIssue+"</td>"                       
				table+="</tr>"
			}
			table+="</tbody> </table>"
			document.getElementById("koiBhi").innerHTML=table;
			// console.log(tableData );
			var button = "<button class='btn-link' onclick=exportData()> Download list</button>"
			document.getElementById("chlna").innerHTML=button;

		}
	</script>

	<script>
		
		function exportData(){
			var table = document.getElementById("tbl");
			console.log(table)

			
			var rows =[];
 
      
			for(var i=0,row; row = table.rows[i];i++){
				
				column1 = row.cells[0].innerText;
				column2 = row.cells[1].innerText;
				column3 = row.cells[2].innerText;
				column4 = row.cells[3].innerText;
				column5 = row.cells[4].innerText;
				column6 = row.cells[5].innerText;
				column7 = row.cells[6].innerText;
				column8 = row.cells[7].innerText;
				column9 = row.cells[8].innerText;
				column10 = row.cells[9].innerText;
				column11 = row.cells[10].innerText;
				column12 = row.cells[11].innerText;
				column13 = row.cells[12].innerText;
				column14 = row.cells[13].innerText;
				column15 = row.cells[14].innerText;
				column16 = row.cells[15].innerText;
				rows.push(
					[
						column1,
						column2,
						column3,
						column4,
						column5,
						column6,
						column7,
						column8,
						column9,
						column10,
						column12,
						column13,
						column14,
						column15,
						column16,
					]
				);
 
        	}
			console.log(rows)
        	csvContent = "data:text/csv;charset=utf-8,";
         
			rows.forEach(function(rowArray){
				row = rowArray.join(",");
				csvContent += row + "\r\n";
			});
 
			var encodedUri = encodeURI(csvContent);
			var link = document.createElement("a");
			link.setAttribute("href", encodedUri);
			link.setAttribute("download", "Market_Plan_Pig_Iron.csv");
			document.body.appendChild(link);
			link.click();
}
	</script>

<script type="text/javascript">
    $('#example-multiple-selected').multiselect();
</script>


<script>
	function custInfo(value){
		console.log(value);
		$.post("/marketPlanPigIron",
        {
            value:value,
            op:"cinf"
        },
        function (data, status) {
			console.log("$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$")
            console.log(data);
			console.log("$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$")
			// console.log(Object.keys(data).length)
			// console.log(data[0].product)
			custmod(data);
            console.log(status);
        }
		)
	}

	function custmod(data)
	{
		// console.log("]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]")
		if(data)
		{
			// console.log("---------------------------------------------------------------------------")
			// console.log(data)
			// console.log("---------------------------------------------------------------------------")
			var index=Object.keys(data).length;
			console.log(index)
			index=index-19;
			var ishuProd="";
			console.log("aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa")
			var holiname=data[0].customerId
			console.log(holiname);
			console.log("aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa")
			for(let i=0;i<=index;i++)
			{
				if(i>0)
				{
					ishuProd=ishuProd.concat("  ,  ")
					// ishuProd+="<br>"
				}
				ishuProd=ishuProd.concat(data[i].product)
				// console.log(ishuProd);
			}
			// console.log("aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa")
			var table = "<table class='table datatable-basic table-bordered table-striped table-hover' style='table-layout: auto; width: 100%; overflow-x: auto;'>  <tbody> "
					
					table+="<tr> "
						table+="<td >Customer Name</td>"                       
						table+="<td class='customerName'>"+data.customerName+"</td>"                       
					table+="</tr>"
					table+="<tr> "
						table+="<td >Mobile Number</td>"                       
						table+="<td class='mobileNumber'>"+data.mobileNumber+"</td>"                       
					table+="</tr>"
					table+="<tr> "
						table+="<td >Product</td>"                       
						table+="<td class='product'>"+ishuProd+"</td>"                       
					table+="</tr>"
					table+="<tr> "
						table+="<td >Area</td>"
						table+="<td class='area'>"+data.area+"</td>"                       
					table+="</tr>"
					table+="<tr> "
						table+="<td >Status</td>"
						table+="<td class='status'>"+data.status+"</td>"                       
					table+="</tr>"
					table+="<tr> "
						table+="<td >Address</td>"
						table+="<td class='address'>"+data.address+"</td>"                       
						table+="</tr>"
						table+="</tbody> </table>"
					var	tek="<ul class='nav nav-tabs nav-tabs-solid bg-teal-400 border-0 nav-justified'>"	

					tek+=" <li class='nav-item'><a href='#customer-tab1' class='nav-link active' data-toggle='tab'>Detail</a></li>"

					tek+="<li class='nav-item'><a href='#customer-tab2' class='nav-link' data-toggle='tab'>Contact</a></li>"	

					tek+="<li class='nav-item'><a href='#customer-tab3' class='nav-link' data-toggle='tab'>Category</a></li>"	

					tek+="<li class='nav-item'><a href='#customer-tab4' class='nav-link' data-toggle='tab'>Firm</a></li>"	
					
					tek+="<li class='nav-item'><a href='#customer-tab5' class='nav-link' data-toggle='tab'>Product</a></li>"	
					
					tek+="<li class='nav-item' onclick='holi'><a href='#customer-tab6' class='nav-link' data-toggle='tab' onclick='holi("+holiname+")' >Report</a></li>"	

					tek+="</ul> <div class='tab-content'> "	

					tek+="<div class='tab-pane fade show active' id='customer-tab1' style='text-align:center;'> <table class='table datatable-basic table-bordered table-striped table-hover'> <tr> <td>Customer Name</td> <td>"+data.customerName+"</td> </tr> <tr> <td>Area</td> <td>"+data.area+"</td> </tr> <tr> <td>Status</td> <td>"+data.status+"</td> </tr> <tr> <td>Grade</td> <td>"+data.grade+"</td> </tr> <tr> <td>Pincode</td> <td>"+data.pincode+"</td> </tr> <tr> <td>Address</td> <td>"+data.address+"</td> </tr> <tr> <td>REF_NO_1</td> <td>"+data.referenceNumber1+"</td> </tr> <tr> <td>REF_NO_2</td> <td>"+data.referenceNumber2+"</td> </tr> <tr> <td>Credit Limit</td> <td>"+data.creditLimit+"</td> </tr> <tr> <td>Credit Days</td> <td>"+data.creditDays+"</td> </tr> </table> </div>"
					
					tek+="<div class='tab-pane fade' id='customer-tab2' style='text-align:center;'> <h5>"+data.mobileNumber+"</h5> </div> "

					tek+="<div class='tab-pane fade' id='customer-tab3' style='text-align:center;'> <h5>"+data.category+"</h5> </div> "
					
					tek+="<div class='tab-pane fade' id='customer-tab4' style='text-align:center;'> <h5>"+data.firm+"</h5> </div> "

					tek+="<div class='tab-pane fade' id='customer-tab5' style='text-align:center;'> <h5>"+ishuProd+"</h5> </div>"
					
					tek+="<div class='tab-pane fade' id='customer-tab6' style='text-align:center;'> <div class='cardRep' id='cardRep'></div> <div class='downloadReport card' id='downloadReport'></div> </div>"


					tek+="</div>"
					
					document.getElementById("ekdin").innerHTML=tek;
		}
		else
		{
			var table="<h5>Verified Master Customer does not exist</h5>"
			document.getElementById("ekdin").innerHTML=table;
		}
	}
	
	function holi (value)
	{
		console.log("hhhhhhhhhhhhhhooooooooooooooolllllllllliiiiiiiiii");
		console.log(value);
		$.post("/marketPlanPigIron",
        {
            value:value,
            op:"marktrep"
        },
        function (data, status) {
			console.log("***********************************************")
            console.log(data);
			console.log("***********************************************")
			markrep(data);
            console.log(status);
        }
		)
	}

	function markrep(repdata)
	{
		console.log("yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy")
		console.log(repdata)
		if(repdata)
		{
			var holi="<table id='tRep' class='table repdatatable-basic table-bordered table-striped table-hover' style='table-layout: auto; width: 100%; overflow-x: auto;'>";
			
			holi+="<thead> <tr> <th>area</th> <th>product</th> <th>lastDelivery</th> <th>representative</th> <th>currentRemark</th> <th>remarkStatus</th> <th>currentIssue</th> </tr> </thead>";
			
			for(var i=0; i<repdata.length; i++)
			{
				holi+="<tr>"
				holi+="<td >"+ repdata[i].area+"</td>"
				holi+="<td >"+ repdata[i].product+"</td>"
				holi+="<td >"+ repdata[i].lastDelivery+"</td>"
				holi+="<td >"+ repdata[i].representative+"</td>"
				holi+="<td >"+ repdata[i].currentRemark+"</td>"
				holi+="<td >"+ repdata[i].remarkStatus+"</td>"
				holi+="<td >"+ repdata[i].currentIssue+"</td>"
				holi+="</tr>"
			}
			holi+="</table>";
			document.getElementById("cardRep").innerHTML=holi;

			var hbtn="<button class='btn-link' onclick=exportReport()> Download list</button>"

			document.getElementById("downloadReport").innerHTML=hbtn;
		}
		else
		{
			var holi="<h3>NO data </h3>";
			document.getElementById("customer-tab6").innerHTML=holi;
		}
	}

	function exportReport()
	{
			console.log("a")
			
			var table = document.getElementById("tRep");
			console.log(table)

			
			var rows =[];
 
      
			for(var i=0,row; row = table.rows[i];i++){
				
				column1 = row.cells[0].innerText;
				column2 = row.cells[1].innerText;
				column3 = row.cells[2].innerText;
				column4 = row.cells[3].innerText;
				column5 = row.cells[4].innerText;
				column6 = row.cells[5].innerText;
				column7 = row.cells[6].innerText;
				rows.push(
					[
						column1,
						column2,
						column3,
						column4,
						column5,
						column6,
						column7
					]
				);
 
        	}

			console.log(rows)
        	csvContent = "data:text/csv;charset=utf-8,";
         
			rows.forEach(function(rowArray){
				row = rowArray.join(",");
				csvContent += row + "\r\n";
			});
 
			var encodedUri = encodeURI(csvContent);
			var link = document.createElement("a");
			link.setAttribute("href", encodedUri);
			link.setAttribute("download", "Market_Report.csv");
			document.body.appendChild(link);
			link.click();
	}
</script>




