<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Jindal Trading | Dashboard</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<link href="assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/layout.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/colors.min.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="global_assets/js/main/jquery.min.js"></script>
	<script src="global_assets/js/main/bootstrap.bundle.min.js"></script>
	<script src="global_assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="global_assets/js/plugins/visualization/d3/d3.min.js"></script>
	<script src="global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
	<script src="global_assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script src="global_assets/js/plugins/ui/moment/moment.min.js"></script>
	<script src="global_assets/js/plugins/pickers/daterangepicker.js"></script>

	<script src="global_assets/js/plugins/tables/datatables/datatables.min.js"></script>

	<script src="global_assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script src="global_assets/js/plugins/notifications/pnotify.min.js"></script>
	<script src="global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>

	<script src="assets/js/app.js"></script>
	<script src="global_assets/js/demo_pages/dashboard.js"></script>
	<script src="global_assets/js/demo_pages/datatables_basic.js"></script>
	<script src="global_assets/js/demo_pages/form_multiselect.js"></script>
	<!-- /theme JS files -->


</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-expand-md navbar-dark">
		<div class="navbar-brand">
			<a href="index.html" class="d-inline-block">
				<img src="../../../../global_assets/images/logo_light.png" alt="">
			</a>
		</div>

		<div class="d-md-none">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-tree5"></i>
			</button>
			<button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
				<i class="icon-paragraph-justify3"></i>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbar-mobile">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
						<i class="icon-paragraph-justify3"></i>
					</a>
				</li>
			</ul>

			<span class="badge bg-success ml-md-3 mr-md-auto">Online</span>

			<ul class="navbar-nav">

				<li class="nav-item dropdown dropdown-user">
					<a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
						<img src="../../../../global_assets/images/demo/users/face11.jpg" class="rounded-circle mr-2" height="34" alt="">
						<span><%=username%></span>
					</a>

					<div class="dropdown-menu dropdown-menu-right">
						<a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
						<a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-blue ml-auto">58</span></a>
						<div class="dropdown-divider"></div>
						<a href="/logout" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

			<!-- Sidebar mobile toggler -->
			<div class="sidebar-mobile-toggler text-center">
				<a href="#" class="sidebar-mobile-main-toggle">
					<i class="icon-arrow-left8"></i>
				</a>
				Navigation
				<a href="#" class="sidebar-mobile-expand">
					<i class="icon-screen-full"></i>
					<i class="icon-screen-normal"></i>
				</a>
			</div>
			<!-- /sidebar mobile toggler -->


			<!-- Sidebar content -->
			<div class="sidebar-content">

				<!-- User menu -->
				<div class="sidebar-user">
					<div class="card-body">
						<div class="media">
							<div class="mr-3">
								<a href="#"><img src="../../../../global_assets/images/demo/users/face11.jpg" width="38" height="38" class="rounded-circle" alt=""></a>
							</div>

							<div class="media-body">
								<div class="media-title font-weight-semibold"><%=username%></div>
								<div class="font-size-xs opacity-50">
									<i class="icon-pin font-size-sm"></i> &nbsp;Meerut
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /user menu -->


				<!-- Main navigation -->
				<div class="card card-sidebar-mobile">
					<ul class="nav nav-sidebar" data-nav-type="accordion">

						<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li>
						<li class="nav-item nav-item-submenu">
							<a href="/userDashboard" class="nav-link">
								<i class="icon-home4"></i>
								<span>
									Dashboard
								</span>
							</a>
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/register" class="nav-link">User-Register</a></li>
							</ul>
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/registeredUsers" class="nav-link">Register-List</a></li>
							</ul>
						</li>

						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Market-Plan</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/marketPlanPigIron" class="nav-link">Pig-Iron</a></li>
							</ul>
							
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
							   <li class="nav-item"><a href="/marketPlanAllotment" class="nav-link">Allotment</a></li>
						    </ul>
							
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/marketPlanQuantityLedger" class="nav-link">QuantityLedger</a></li>
							</ul>
						</li>

						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Master</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/masterArea" class="nav-link">MasterArea</a></li>
								<li class="nav-item"><a href="/masterCategories" class="nav-link">MasterCategories</a></li>
								<li class="nav-item"><a href="/masterEmployee" class="nav-link">MasterEmployee</a></li>
								<li class="nav-item"><a href="/masterGrade" class="nav-link">MasterGrade</a></li>
								<li class="nav-item"><a href="/masterProducts" class="nav-link">MasterProducts</a></li>
								<li class="nav-item"><a href="/masterTeams" class="nav-link">MasterTeams</a></li>
								<li class="nav-item"><a href="/masterVendors" class="nav-link">MasterVendors</a></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link active"><i class="icon-copy"></i> <span>Customers</span></a>
							
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/masterCustomer" class="nav-link">MasterCustomer</a></li>
								<li class="nav-item"><a href="/customerContact" class="nav-link">Contact</a></li>
								<li class="nav-item"><a href="/customerCategory" class="nav-link">Categories</a></li>
								<li class="nav-item"><a href="/customerFirm" class="nav-link">Firms</a></li>
								<li class="nav-item"><a href="/customerProduct" class="nav-link">Products</a></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Transport</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/transportDetails" class="nav-link">Details</a></li>
								<li class="nav-item"><a href="/transportContacts" class="nav-link">Contacts</a></li>
								<li class="nav-item"><a href="/transportStations" class="nav-link">Stations</a></li>
								<li class="nav-item"><a href="/transportTrucks" class="nav-link">Trucks</a></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Team</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="index.html" class="nav-link">Contact Details</a></li>
								<li class="nav-item"><a href="https://demo.interface.club/limitless/demo/Template/layout_3/LTR/default/full/index.html" class="nav-link">Add Member</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- /main navigation -->

			</div>
			<!-- /sidebar content -->
			
		</div>
		<!-- /main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header page-header-light">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Master Customers</span> - Master</h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>
				</div>
			</div>
			<!-- /page header -->


			<!-- Content area -->
			<div class="content">

				<!-- Dashboard content -->
				<div class="row">
					<div class="col-md-12">
						<div class="card" style="overflow-x: auto;">
							
							<div class="errInfo" id="errInfo" style=" background-color: rgb(255, 0, 0); margin: 1%;">
								<% if(msg){ %>
									<h6 style="text-align: center; font-weight: 600"><%=msg%></h6>
								<% } %>
							</div>
							
							<div class="card-header header-elements-inline">
								<h5 class="card-title">Master Customers</h5>
								<% if(level>2) {%>
									<button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal_form_vertical"data-popup="popover" title="Add Master Customer" data-trigger="hover" data-content="Click to Create New Master Customer">Add new Master Customer</button></td>
									
								<%}%>
								<div class="header-elements">
									<div class="list-icons">
										<a class="list-icons-item" data-action="collapse"></a>
										<a class="list-icons-item" data-action="reload"></a>
										<a class="list-icons-item" data-action="remove"></a>
									</div>
								</div>
							</div>

							<% if(data.length>0) {%>
    
								<table class="table datatable-basic table-bordered table-striped table-hover">
									
									<thead>
										<tr>
											<th>customerName</th>
											<th>AREA</th>
											<th>STATUS</th>
											<th>GRADE</th>
											<th>PIN_CODE</th>
											<th>ADDRESS</th>
											<th>REF_NO_1</th>
											<th>REF_NO_2</th>
											<th>CREDIT_LIMIT</th>
											<th>CREDIT_DAYS</th>
											<% if(level>2) {%>
												<th>Edit</th>
												<th>Delete</th>
											<%}else if(level>1){%>
												<th>Edit</th>
											<%}else{%>
											<%}%>
										</tr>
									</thead >
									
									<% for(var i=0; i<data.length; i++) {%>
										<%if(data[i].status=='VERIFIED') {%>
										<tr class="<%= data[i].customerId%>customer">
											<%if(level==1) {%>
												<td class="customerName" ><%= data[i].customerName%></td>
												<td class="area" ><%= data[i].area%></td>
												<td class="status" ><%= data[i].status%></td>
												<td class="grade" ><%= data[i].grade%></td>
												<td class="pincode" ><%= data[i].pincode%></td>
												<td class="address" ><%= data[i].address%></td>
												<td class="referenceNumber1" ><%= data[i].referenceNumber1%></td>
												<td class="referenceNumber2" ><%= data[i].referenceNumber2%></td>
												<td class="creditLimit" ><%= data[i].creditLimit%></td>
												<td class="creditDays" ><%= data[i].creditDays%></td>
											<%} else if(level>2) {%>
												<td class="customerName"><%= data[i].customerName%></td>
												<td class="area"><%= data[i].area%></td>
												<td class="status"><%= data[i].status%></td>
												<td class="grade"><%= data[i].grade%></td>
												<td class="pincode"><%= data[i].pincode%></td>
												<td class="address"><%= data[i].address%></td>
												<td class="referenceNumber1"><%= data[i].referenceNumber1%></td>
												<td class="referenceNumber2"><%= data[i].referenceNumber2%></td>
												<td class="creditLimit"><%= data[i].creditLimit%></td>
												<td class="creditDays"><%= data[i].creditDays%></td>
												<td>
													<button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal_edit" data-popup="popover" onclick="eedit('<%= data[i].customerId%>customer')" data-popup="popover" title="Edit <%= data[i].customerName%>" data-trigger="hover" data-content="Click to change data">Edit</button>
												</td>
												<td >
													<button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal_del" data-popup="popover" onclick="ddel('<%= data[i].customerId%>customer')" data-popup="popover" title="Delete <%= data[i].customerName%>" data-trigger="hover" data-content="Click Delete Button to remove Master Customer and reload page to see changes">Delete</button>
												</td>
											<%}else if(level>1){%>
												<td class="customerName"><%= data[i].customerName%></td>
												<td class="area"><%= data[i].area%></td>
												<td class="status"><%= data[i].status%></td>
												<td class="grade"><%= data[i].grade%></td>
												<td class="pincode"><%= data[i].pincode%></td>
												<td class="address"><%= data[i].address%></td>
												<td class="referenceNumber1"><%= data[i].referenceNumber1%></td>
												<td class="referenceNumber2"><%= data[i].referenceNumber2%></td>
												<td class="creditLimit"><%= data[i].creditLimit%></td>
												<td class="creditDays"><%= data[i].creditDays%></td>
												<td>
													<button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal_edit" data-popup="popover" onclick="eedit('<%= data[i].customerId%>customer')" data-popup="popover" title="Edit <%= data[i].customerName%>" data-trigger="hover" data-content="Click to change data">Edit</button>
												</td>
											<%}%>
										</tr>
										<% } %>
									<% } %>
								</table>
							
							<%}else{%>
								<h4>No new data</h4>
							<%}%>
							
							
								
							<div class="card" style="overflow-x: auto;"></div>
								<h3>Unverified Customer</h3>	


								<% if(data.length>0) {%>
		
									<table class="table datatable-basic table-bordered table-striped table-hover">
										
										<thead>
											<tr>
												<th>customerName</th>
												<th>AREA</th>
												<th>STATUS</th>
												<th>GRADE</th>
												<th>PIN_CODE</th>
												<th>ADDRESS</th>
												<th>REF_NO_1</th>
												<th>REF_NO_2</th>
												<th>CREDIT_LIMIT</th>
												<th>CREDIT_DAYS</th>
												<% if(level>2) {%>
													<th>Edit</th>
													<th>Delete</th>
												<%}else if(level>1){%>
													<th>Edit</th>
												<%}else{%>
												<%}%>
											</tr>
										</thead >
										
										<% for(var i=0; i<data.length; i++) {%>
											<%if(data[i].status=='UNVERIFIED') {%>
											<tr class="<%= data[i].customerId%>customer">
												<%if(level==1) {%>
													<td class="customerName" ><%= data[i].customerName%></td>
													<td class="area" ><%= data[i].area%></td>
													<td class="status" ><%= data[i].status%></td>
													<td class="grade" ><%= data[i].grade%></td>
													<td class="pincode" ><%= data[i].pincode%></td>
													<td class="address" ><%= data[i].address%></td>
													<td class="referenceNumber1" ><%= data[i].referenceNumber1%></td>
													<td class="referenceNumber2" ><%= data[i].referenceNumber2%></td>
													<td class="creditLimit" ><%= data[i].creditLimit%></td>
													<td class="creditDays" ><%= data[i].creditDays%></td>
												<%} else if(level>2) {%>
													<td class="customerName"><%= data[i].customerName%></td>
													<td class="area"><%= data[i].area%></td>
													<td class="status"><%= data[i].status%></td>
													<td class="grade"><%= data[i].grade%></td>
													<td class="pincode"><%= data[i].pincode%></td>
													<td class="address"><%= data[i].address%></td>
													<td class="referenceNumber1"><%= data[i].referenceNumber1%></td>
													<td class="referenceNumber2"><%= data[i].referenceNumber2%></td>
													<td class="creditLimit"><%= data[i].creditLimit%></td>
													<td class="creditDays"><%= data[i].creditDays%></td>
													<td>
													<button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal_edit" data-popup="popover" onclick="eedit('<%= data[i].customerId%>customer')" data-popup="popover" title="Edit <%= data[i].customerName%>" data-trigger="hover" data-content="Click to change data">Edit</button>
												</td>
													<td >
													<button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal_del" data-popup="popover" onclick="ddel('<%= data[i].customerId%>customer')" data-popup="popover" title="Delete <%= data[i].customerName%>" data-trigger="hover" data-content="Click Delete Button to remove Master Customer and reload page to see changes">Delete</button>
												</td>
												<%}else if(level>1){%>
													<td class="customerName"><%= data[i].customerName%></td>
													<td class="area"><%= data[i].area%></td>
													<td class="status"><%= data[i].status%></td>
													<td class="grade"><%= data[i].grade%></td>
													<td class="pincode"><%= data[i].pincode%></td>
													<td class="address"><%= data[i].address%></td>
													<td class="referenceNumber1"><%= data[i].referenceNumber1%></td>
													<td class="referenceNumber2"><%= data[i].referenceNumber2%></td>
													<td class="creditLimit"><%= data[i].creditLimit%></td>
													<td class="creditDays"><%= data[i].creditDays%></td>
													<td>
													<button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal_edit" data-popup="popover" onclick="eedit('<%= data[i].customerId%>customer')" data-popup="popover" title="Edit <%= data[i].customerName%>" data-trigger="hover" data-content="Click to change data">Edit</button>
													</td>
												<%}%>
											</tr>
											<% } %>
										<% } %>
									</table>
								
								<%}else{%>
									<h4>No new data</h4>
								<%}%>
								
								
								
								<div class="card" style="overflow-x: auto;"></div>
								<h3>INACTIVE Customer</h3>	
								
								
								<% if(data.length>0) {%>
		
									<table class="table datatable-basic table-bordered table-striped table-hover">
										
										<thead>
											<tr>
												<th>customerName</th>
												<th>AREA</th>
												<th>STATUS</th>
												<th>GRADE</th>
												<th>PIN_CODE</th>
												<th>ADDRESS</th>
												<th>REF_NO_1</th>
												<th>REF_NO_2</th>
												<th>CREDIT_LIMIT</th>
												<th>CREDIT_DAYS</th>
												<% if(level>2) {%>
													<th>Edit</th>
													<th>Delete</th>
													<%}else if(level>1){%>
														<th>Edit</th>
												<%}else{%>
													<%}%>
												</tr>
											</thead >
											
											<% for(var i=0; i<data.length; i++) {%>
												<%if(data[i].status=='INACTIVE') {%>
													<tr class="<%= data[i].customerId%>customer">
														<%if(level==1) {%>
															<td class="customerName" ><%= data[i].customerName%></td>
															<td class="area" ><%= data[i].area%></td>
															<td class="status" ><%= data[i].status%></td>
															<td class="grade" ><%= data[i].grade%></td>
															<td class="pincode" ><%= data[i].pincode%></td>
															<td class="address" ><%= data[i].address%></td>
															<td class="referenceNumber1" ><%= data[i].referenceNumber1%></td>
															<td class="referenceNumber2" ><%= data[i].referenceNumber2%></td>
															<td class="creditLimit" ><%= data[i].creditLimit%></td>
															<td class="creditDays" ><%= data[i].creditDays%></td>
															<%} else if(level>2) {%>
																<td class="customerName"><%= data[i].customerName%></td>
													<td class="area"><%= data[i].area%></td>
													<td class="status"><%= data[i].status%></td>
													<td class="grade"><%= data[i].grade%></td>
													<td class="pincode"><%= data[i].pincode%></td>
													<td class="address"><%= data[i].address%></td>
													<td class="referenceNumber1"><%= data[i].referenceNumber1%></td>
													<td class="referenceNumber2"><%= data[i].referenceNumber2%></td>
													<td class="creditLimit"><%= data[i].creditLimit%></td>
													<td class="creditDays"><%= data[i].creditDays%></td>
													<td>
														<button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal_edit" data-popup="popover" onclick="eedit('<%= data[i].customerId%>customer')" data-popup="popover" title="Edit <%= data[i].customerName%>" data-trigger="hover" data-content="Click to change data">Edit</button>
													</td>
													<td >
													<button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal_del" data-popup="popover" onclick="ddel('<%= data[i].customerId%>customer')" data-popup="popover" title="Delete <%= data[i].customerName%>" data-trigger="hover" data-content="Click Delete Button to remove Master Customer and reload page to see changes">Delete</button>
												</td>
													<%}else if(level>1){%>
														<td class="customerName"><%= data[i].customerName%></td>
														<td class="area"><%= data[i].area%></td>
														<td class="status"><%= data[i].status%></td>
														<td class="grade"><%= data[i].grade%></td>
														<td class="pincode"><%= data[i].pincode%></td>
														<td class="address"><%= data[i].address%></td>
														<td class="referenceNumber1"><%= data[i].referenceNumber1%></td>
														<td class="referenceNumber2"><%= data[i].referenceNumber2%></td>
														<td class="creditLimit"><%= data[i].creditLimit%></td>
														<td class="creditDays"><%= data[i].creditDays%></td>
														<td>
															<button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal_edit" data-popup="popover" onclick="eedit('<%= data[i].customerId%>customer')" data-popup="popover" title="Edit <%= data[i].customerName%>" data-trigger="hover" data-content="Click to change data">Edit</button>
														</td>
														<%}%>
													</tr>
													<% } %>
													<% } %>
												</table>
												
												<%}else{%>
													<h4>No new data</h4>
												<%}%>
								</div>		
								<div class="form-group">
									<div class="row">
										<div class="col-sm-2">
											<label for="customerName" class="form-control"><span class="font-weight-semibold">customerName</span></label>
											<select name="customerName" class="form-control multiselect-filtering customerName" id="customerNameFil" multiple="multiple" data-fouc>
												<% for(var i=0; i<data.length; i++) {%>
													<option value="<%=data[i].customerName%>"><%=data[i].customerName%></option>
												<% } %>	
											</select>
										</div>
										<div class="col-sm-2">
											<label for="area" class="form-control"><span class="font-weight-semibold">area</span></label>
											<select name="area" class="form-control multiselect-filtering  area" id="areaFil" multiple="multiple" data-fouc>
												<% for(var i=0; i<data.length; i++) {%>
													<option value="<%=data[i].area%>"><%=data[i].area%></option>
												<% } %>	
											</select>
										</div>																	
										<div class="col-sm-2">
											<label for="status" class="form-control"><span class="font-weight-semibold">status</span></label>
											<select name="status" class="form-control multiselect-filtering  status" id="statusFil" multiple="multiple" data-fouc>
												<% for(var i=0; i<data.length; i++) {%>
													<option value="<%=data[i].status%>"><%=data[i].status%></option>
												<% } %>	
											</select>
										</div>																	
										<div class="col-sm-2">
											<label for="grade" class="form-control"><span class="font-weight-semibold">grade</span></label>
											<select name="grade" class="form-control multiselect-filtering  grade" id="gradeFil" multiple="multiple" data-fouc>
												<% for(var i=0; i<data.length; i++) {%>
													<option value="<%=data[i].grade%>"><%=data[i].grade%></option>
												<% } %>	
											</select>
										</div>																	
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<button onclick="fil()" class="form-control bg-teal-400" type="button">Filter</button>
									</div>
								</div>
								<div class="card" style="overflow-x: auto;" id="koiBhi"></div>
								<div class="card" style="overflow-x: auto;" id="chlna"></div>
								
							</div>		
							
							
							
							
							
							<!-- Vertical form modal -->
							<div id="modal_form_vertical" class="modal fade" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">New Master Customer</h5>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<form action="/masterCustomer" method="POST">
								<div class="modal-body">
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6">
												<label>Customer Name<span class="text-danger">*</span></label>
												<input type="text" placeholder="Ujjwal Raturi" class="form-control customerName" required name="customerName" id="customerName">
											</div>

										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<div class="col-sm-12">
												<label>Firm<span class="text-danger">*</span></label>
												<input type="text" placeholder="Firm" class="form-control firm" required name="firm" id="firm">
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<div class="row">
											<div class="col-sm-4">
												<label>Area<span class="text-danger">*</span></label>
												<select id="area" name="area" class="form-control area" id="area" required>
													<option value="" disabled selected>-Select-</option>
													<% for(var i=0; i<areaData.length; i++) {%>
														<option value="<%=areaData[i].area%>"><%=areaData[i].area%></option>
													<% } %>
												</select>
												
											</div>
											<div class="col-sm-4">
												<label>Status</label>
												<select id="status" name="status" class="form-control status" id="status">
													<option value="" disabled selected>-Select-</option>
													<option value="VERIFIED">VERIFIED</option>
													<option value="UNVERIFIED">UNVERIFIED</option>
													<option value="INACTIVE">INACTIVE</option>
												</select>
											</div>
											<div class="col-sm-4">
												<label>grade<span class="text-danger">*</span></label>
												<select id="grade" name="grade" class="form-control grade" id="grade" required>
													<option value="" disabled selected>-Select-</option>
													<% for(var i=0; i<gradeData.length; i++) {%>
														<option value="<%=gradeData[i].gradeType%>"><%=gradeData[i].gradeType%></option>
													<% } %>
												</select>
											</div>											
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<div class="col-sm-4">
												<label>Contact<span class="text-danger">*</span></label>
												<input type="tel" required placeholder="10-digit-format" class="form-control contact" name="contact" id="contact" pattern="[0-9]{10}">
											</div>

											<div class="col-sm-4">
												<label>Category<span class="text-danger">*</span></label>
												<select name="category" class="category form-control" required>
													<option value="" disabled selected>-Select-</option>
													<% for(var j=0; j<categorydata.length; j++) {%>
														<option value="<%=categorydata[j].categoriesType%>"><%=categorydata[j].categoriesType%></option>
													<% } %>
												</select>
											</div>

											
											
										</div>
									</div>
									
									<div class="form-group">
										<div class="row">
											
											<div class="col-sm-12">
												<label>Products<span class="text-danger">*</span></label>
												<select name="productFil" required class="form-control multiselect-filtering productFil" id="productFil" multiple="multiple" data-fouc>
													<% for(var i=0; i<productData.length; i++) {%>
														<option value="<%=productData[i].productName%>"><%=productData[i].productName%></option>
													<% } %>	
												</select>
												
											</div>

										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-4">
												<label>Pincode<span class="text-danger">*</span></label>
												<input type="tel" required placeholder="6-digit-format" class="form-control pincode" name="pincode" id="pincode" pattern="[0-9]{6}">
											</div>

											<div class="col-sm-8">
												<label>Address<span class="text-danger">*</span></label>
												<input type="text" required placeholder="address" class="form-control address" name="address" id="address">
											</div>

										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<div class="col-sm-6">
												<label>Reference Number 1</label>
												<input type="text" placeholder="name" class="form-control referenceNumber1" name="referenceNumber1" id="referenceNumber1">
												
											</div>

											<div class="col-sm-6">
												<label>Reference Number 2</label>
												<input type="text" placeholder="name" class="form-control referenceNumber2" name="referenceNumber2"  id="referenceNumber2">
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<div class="col-sm-6">
												<label>Credit Limit</label>
												<input type="number" placeholder="amount" class="form-control creditLimit" name="creditLimit" id="creditLimit">									
											</div>

											<div class="col-sm-6">
												<label>Credit Days</label>
												<input type="number" placeholder="time period" class="form-control creditDays" name="creditDays" id="creditDays">
											</div>
										</div>
									</div>
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
									<button  class="btn bg-primary">Add</button>
								</div>
							</form>
						</div>
					</div>
							</div>





							





							<!-- EDIT modal -->
							<div id="modal_edit" class="modal fade" tabindex="-1">
					            <div class="modal-dialog">
						            <div class="modal-content">
							            <div class="modal-header">
								            <h5 class="modal-title">Edit Master Customer</h5>
								            <button type="button" class="close" data-dismiss="modal">&times;</button>
							            </div>

								        <div class="modal-body" id="blast">
									        
								        </div>

								        <div class="modal-footer" id="off">
									        
								        </div>
						            </div>
					            </div>
				            </div>
							
							
							
							<!-- DEL modal -->
							<div id="modal_del" class="modal fade" tabindex="-1">
					            <div class="modal-dialog">
						            <div class="modal-content">
							            <div class="modal-header">
								            <h5 class="modal-title">Delete Master Customer</h5>
								            <button type="button" class="close" data-dismiss="modal">&times;</button>
							            </div>

								        <div class="modal-body" id="blasto">
									        
								        </div>

								        <div class="modal-footer" id="offo">
									        
								        </div>
						            </div>
					            </div>
				            </div>





							<!-- /vertical form modal -->
		
							<!-- <table class="table datatable-basic table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th>Customer Name</th>
										<th>Area</th>
										<th>Grade</th>
										<th>Category</th>
										<th>Product</th>
										<th>Representative</th>
										<th>Meeting Date</th>
										<th>Current Issue</th>
										<th class="text-center">Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Rakesh Tomar</td>
										<td>Delhi</td>
										<td>A</td>
										<td>Wholesale</td>
										<td>Pig Iron</td>
										<td>Vipin</td>
										<td>01-10-2022</td>
										<td>Not Available Previously</td>
										<td class="text-center">
											<div class="list-icons">
												<div class="dropdown">
													<a href="#" class="list-icons-item" data-toggle="dropdown">
														<i class="icon-menu9"></i>
													</a>
		
													<div class="dropdown-menu dropdown-menu-right">
														<a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> Export to .pdf</a>
														<a href="#" class="dropdown-item"><i class="icon-file-excel"></i> Export to .csv</a>
														<a href="#" class="dropdown-item"><i class="icon-file-word"></i> Export to .doc</a>
													</div>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>Rakesh Tomar</td>
										<td>Delhi</td>
										<td>A</td>
										<td>Retail</td>
										<td>Pig Iron</td>
										<td>Vipin</td>
										<td>01-10-2022</td>
										<td>Not Available Previously</td>
										<td class="text-center">
											<div class="list-icons">
												<div class="dropdown">
													<a href="#" class="list-icons-item" data-toggle="dropdown">
														<i class="icon-menu9"></i>
													</a>
		
													<div class="dropdown-menu dropdown-menu-right">
														<a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> Export to .pdf</a>
														<a href="#" class="dropdown-item"><i class="icon-file-excel"></i> Export to .csv</a>
														<a href="#" class="dropdown-item"><i class="icon-file-word"></i> Export to .doc</a>
													</div>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>Rakesh Tomar</td>
										<td>Meerut</td>
										<td>A</td>
										<td>Retail</td>
										<td>Pig Iron</td>
										<td>Vipin</td>
										<td>01-10-2022</td>
										<td>Not Available Previously</td>
										<td class="text-center">
											<div class="list-icons">
												<div class="dropdown">
													<a href="#" class="list-icons-item" data-toggle="dropdown">
														<i class="icon-menu9"></i>
													</a>
		
													<div class="dropdown-menu dropdown-menu-right">
														<a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> Export to .pdf</a>
														<a href="#" class="dropdown-item"><i class="icon-file-excel"></i> Export to .csv</a>
														<a href="#" class="dropdown-item"><i class="icon-file-word"></i> Export to .doc</a>
													</div>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table> -->
						</div>
					</div>
					
				</div>
				<!-- /dashboard content -->

			</div>
			<!-- /content area -->


			<!-- Footer -->
			<!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>

</html>





<script>

	if ( window.history.replaceState ) {
	window.history.replaceState( null, null, window.location.href );
	}


    function edit(value)
    {
        console.log(value);
        console.log("3333333333333333333333333333333");
		
		var ecustomerName = document.getElementById("ecustomerName").value;
        var earea = document.getElementById("earea").value;
        var estatus = document.getElementById("estatus").value;
        var egrade = document.getElementById("egrade").value;
        var epincode = document.getElementById("epincode").value;
        var eaddress = document.getElementById("eaddress").value;
        var ereferenceNumber1 = document.getElementById("earea").value;
        var ereferenceNumber2 = document.getElementById("earea").value;
        var ecreditLimit = document.getElementById("ecreditLimit").value;
        var ecreditDays = document.getElementById("ecreditDays").value;
		console.log(ecustomerName);
		console.log(earea);
        
        $.post("/masterCustomer",
            {
                id: value,
                customerName:ecustomerName,
                area: earea,
                status: estatus,
                grade: egrade,
                pincode: epincode,
                address: eaddress,
                referenceNumber1: ereferenceNumber1,
                referenceNumber2: ereferenceNumber2,
                creditLimit: ecreditLimit,
                creditDays: ecreditDays,
                op:"edt"
            },
            function (data, status) 
			{
                console.log(data);
                console.log(status);
				setInterval('refreshPage()', 50);
            });
        
    }
</script>


<script>
    function del(value)
    {
        console.log(value);
        $.post("/masterCustomer",
            {
                id: value,
                op:"del"
            },
            function (data, status) {
                console.log(data);
                console.log(status);
				setInterval('refreshPage()', 50);
            }
            );
    }

	function refreshPage() {
    	location.reload(true);
	}



	if ( window.history.replaceState ) {
		window.history.replaceState( null, null, window.location.href );
		}
		
		function fil()
		{
			var mySelcust = document.getElementById("customerNameFil").value;
			var mySelArea = document.getElementById("areaFil").value;
			var mySelStat = document.getElementById("statusFil").value;
			var mySelGrad = document.getElementById("gradeFil").value;
			
			console.log(mySelcust);
			console.log(mySelArea);
			console.log(mySelStat);
			console.log(mySelGrad);
			
			console.log("ujjwal");
        $.post("/masterCustomer",
        {
			customerNameFil: mySelcust,
            areaFil: mySelArea,
            statusFil: mySelStat,
            gradeFil: mySelGrad,
            op:"fil"
        },
        function (dataFil, status) {
			console.log("filter kios");
            console.log(dataFil);
			check(dataFil);
            console.log(status);
        }
        );
    }


	function eedit(value)
    {
        console.log(value);
        var sub = 'customer';
        var result = value.replace(sub,'');
        console.log(result);
        
        $('.'+value).each(function() 
        {   
			console.log("qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq")
            var customerName = $(this).find(".customerName").html();    
            var area = $(this).find(".area").html();    
            var status = $(this).find(".status").html();    
            var grade = $(this).find(".grade").html();    
            var pincode = $(this).find(".pincode").html();    
            var address = $(this).find(".address").html();    
            var referenceNumber1 = $(this).find(".referenceNumber1").html();    
            var referenceNumber2 = $(this).find(".referenceNumber2").html();    
            var creditLimit = $(this).find(".creditLimit").html();    
            var creditDays = $(this).find(".creditDays").html();     
            
			console.log(result)
			
			
            var tek = '<div class="card" style="text-align:center;"> <table class="table datatable-basic table-bordered table-striped table-hover"> <tr> <td >customerName</td> <td><input type="text" value="'+customerName+'" class="form-control ecustomerName" name="ecustomerName" id="ecustomerName"></td> </tr> <tr> <td>area</td> <td><input type="text" value="'+area+'" class="form-control earea" name="earea" id="earea"> </tr> <tr> <td>status</td> <td><input type="text" value="'+status+'" class="form-control estatus" name="estatus" id="estatus"> </tr> <tr> <td>grade</td> <td><input type="text" value="'+grade+'" class="form-control egrade" name="egrade" id="egrade"> </tr> <tr> <td>pincode</td> <td><input type="text" value="'+pincode+'" class="form-control epincode" name="epincode" id="epincode"> </tr> <tr> <td>address</td> <td><input type="text" value="'+address+'" class="form-control eaddress" name="eaddress" id="eaddress"> </tr> <tr> <td>referenceNumber1</td> <td><input type="text" value="'+referenceNumber1+'" class="form-control ereferenceNumber1" name="ereferenceNumber1" id="ereferenceNumber1"> </tr> <tr> <td>referenceNumber2</td> <td><input type="text" value="'+referenceNumber2+'" class="form-control ereferenceNumber2" name="ereferenceNumber2" id="ereferenceNumber2"> </tr> <tr> <td>creditLimit</td> <td><input type="text" value="'+creditLimit+'" class="form-control ecreditLimit" name="ecreditLimit" id="ecreditLimit"> </tr>   <tr> <td>creditDays</td> <td><input type="text" value="'+creditDays+'" class="form-control ecreditDays" name="ecreditDays" id="ecreditDays"> </tr></table> </div>'
				
			var bt="<button type='button' class='btn btn-link' style='color:teal' data-dismiss='modal'>Cancel</button> <button type='submit' onclick='edit("+result+")' data-dismiss='modal' class='btn bg-teal-400'>Save</button>"
			console.log("Ujjwal")
			document.getElementById("blast").innerHTML=tek;
			document.getElementById("off").innerHTML=bt;
		});
    }

	function ddel(value)
    {
        console.log(value);
        var sub = 'customer';
        var result = value.replace(sub,'');
        console.log(result);
        
        $('.'+value).each(function() 
        {   
			console.log("aaaaaaaaaaaaaaaaaaaaaaaa")
            var customerName = $(this).find(".customerName").html();    
            var area = $(this).find(".area").html();    
            var status = $(this).find(".status").html();    
            var grade = $(this).find(".grade").html();    
            var pincode = $(this).find(".pincode").html();    
            var address = $(this).find(".address").html();    
            var referenceNumber1 = $(this).find(".referenceNumber1").html();    
            var referenceNumber2 = $(this).find(".referenceNumber2").html();    
            var creditLimit = $(this).find(".creditLimit").html();    
            var creditDays = $(this).find(".creditDays").html();     
			console.log(result)


            var tek = '<div class="card" style="text-align:center;"> <table class="table datatable-basic table-bordered table-striped table-hover"> <tr> <td >customerName</td> <td>'+customerName+'</td> </tr> <tr> <td>area</td> <td>'+area+' </td> </tr> <tr> <td>status</td> <td>'+status+' </td> </tr> <tr> <td>grade</td> <td>'+grade+' </td> </tr> <tr> <td>pincode</td> <td>'+pincode+' </td> </tr> <tr> <td>address</td> <td>'+address+' </td> </tr> <tr> <td>referenceNumber1</td> <td>'+referenceNumber1+' </td> </tr> <tr> <td>referenceNumber2</td> <td>'+referenceNumber2+' </td> </tr> <tr> <td>creditLimit</td> <td>'+creditLimit+' </td> </tr> <tr> <td>creditDays</td> <td>'+creditDays+' </td> </tr>  </table> </div>'

			var bt="<button type='button' class='btn btn-link' style='color:teal' data-dismiss='modal'>Cancel</button> <button type='submit' onclick='del("+result+")' data-dismiss='modal' class='btn bg-teal-400'>Delete</button>"
			console.log("Ujjwal")
			document.getElementById("blasto").innerHTML=tek;
			document.getElementById("offo").innerHTML=bt;
		});
    }






	function check(tableData)
		{
			var table = "<table class='table datatable-basic table-bordered table-striped table-hover' style='table-layout: auto; width: 100%; overflow-x: auto;' id='tbl'> <thead> <th>customerName</th> <th>area</th> <th>status</th> <th>grade</th> <th>pincode</th> <th>address</th> <th>referenceNumber1</th> <th>referenceNumber2</th> <th>creditLimit</th> <th>creditDays</th></thead> <tbody> "
			for(var i=0;i<tableData.length;i++)
			{
				table+="<tr>"
					table+="<td class='customerName'>"+tableData[i].customerName+"</td>"	
					table+="<td class='area'>"+tableData[i].area+"</td>"	                   
					table+="<td class='status'>"+tableData[i].status+"</td>"	                   
					table+="<td class='grade'>"+tableData[i].grade+"</td>"	                   
					table+="<td class='pincode'>"+tableData[i].pincode+"</td>"	                   
					table+="<td class='address'>"+tableData[i].address+"</td>"	                   
					table+="<td class='referenceNumber1'>"+tableData[i].referenceNumber1+"</td>"	                   
					table+="<td class='referenceNumber2'>"+tableData[i].referenceNumber2+"</td>"	                   
					table+="<td class='creditLimit'>"+tableData[i].creditLimit+"</td>"	                   
					table+="<td class='creditDays'>"+tableData[i].creditDays+"</td>"	                   
				table+="</tr>"
			}
			table+="</tbody> </table>"
			document.getElementById("koiBhi").innerHTML=table;
			var button = "<button class='btn-link' onclick=exportData()> Download list</button>"
			document.getElementById("chlna").innerHTML=button;

		}

	function exportData()
	{
			console.log("a")
			
			var table = document.getElementById("tbl");
			console.log(table)

			
			var rows =[];
 
      
			for(var i=0,row; row = table.rows[i];i++){
				
				column1 = row.cells[0].innerText;
				column2 = row.cells[1].innerText;
				column3 = row.cells[2].innerText;
				rows.push(
					[
						column1,
						column2,
						column3
					]
				);
 
        	}
			console.log(rows)
        	csvContent = "data:text/csv;charset=utf-8,";
         
			rows.forEach(function(rowArray){
				row = rowArray.join(",");
				csvContent += row + "\r\n";
			});
 
			var encodedUri = encodeURI(csvContent);
			var link = document.createElement("a");
			link.setAttribute("href", encodedUri);
			link.setAttribute("download", "Master_Customers.csv");
			document.body.appendChild(link);
			link.click();
	}


</script>
