<h2>masterProducts</h2>
<h3>User level <%=level%></h3>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity=
        "sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
    </script>

<% if(data.length>0) {%>
    
    <table >
        
        <thead>
            <tr>
                <th>productName</th>
                <th>Product-Group</th>
                <% if(level>2) {%>
                    <th>Edit</th>
                    <th>Delete</th>
                <%}else if(level>1){%>
                    <th>Edit</th>
                <%}else{%>
                <%}%>

            </tr>
        </thead >
        
        <% for(var i=0; i<data.length; i++) {%>
            <tr class="<%= data[i].productId%>product">
                <%if(level==1) {%>
                    <td class="productName"><%= data[i].productName%></td>
                    <td class="productGroup"><%= data[i].productGroup%></td>
                <%} else if(level>2) {%>
                    <td class="productName" contenteditable="true"><%= data[i].productName%></td>
                    <td class="productGroup" contenteditable="true"><%= data[i].productGroup%></td>
                    <td>
                        <button onclick="edit('<%= data[i].productId%>product')" name="foo" value="check" >Edit</button>
                    </td>
                    <td >
                        <button onclick="del('<%= data[i].productId %>')" name="foo" value="check" >Delete</button>
                    </td>
                <%}else if(level>1){%>
                    <td class="productName" contenteditable="true"><%= data[i].productName%></td>
                    <td class="productGroup" contenteditable="true"><%= data[i].productGroup%></td>
                    <td>
                        <button onclick="edit('<%= data[i].productId%>product')" name="foo" value="check" >Edit</button>
                    </td>
                <%}%>
            </tr>
        <% } %>
    </table>

<%}else{%>
    <h4>No new data</h4>
<%}%>

<% if(level>2) {%>
    <p><a href="/addMasterProducts">Add new Master Product</a></p>
<%}%>


<p><a href="/userDashboard">Dashboard</a></p>
<p><a href="/">Back to Home Page</a></p>

<script>
    function del(value)
    {
        console.log(value);
        $.post("/masterProducts",
            {
                id: value,
                op:"del"
            },
            function (data, status) {
                console.log(data);
                console.log(status);
            }
            );
    }
</script>


<script>
    function edit(value)
    {
        console.log(value);
        var sub = 'product';
        var result = value.replace(sub,'');
        console.log(result);
        
        $('.'+value).each(function() 
        {
            
            var productGroup = $(this).find(".productGroup").html();    
            var productName = $(this).find(".productName").html();    
            console.log(productGroup);
            console.log("ujjwal");
            $.post("/masterProducts",
            {
                id: result,
                productName: productName,
                productGroup: productGroup,
                op:"edt"
            },
            function (data, status) {
                console.log(data);
                console.log(status);
            }
            );
        });
    }
</script>