<h2>masterEmployee</h2>
<h3>User level <%=level%></h3>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity=
        "sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
    </script>

<% if(data.length>0) {%>
    
    <table >
        
        <thead>
            <tr>
                <th>Employee-Name</th>
                <th>Designation</th>
                <th>Employee-Categories</th>
                <th>dateOfBirth</th>
                <th>fatherName</th>
                <th>motherName</th>
                <th>address</th>
                <th>primaryMobileNumber</th>
                <th>officeMobileNumber</th>
                <th>fatherMobileNumber</th>
                <th>motherMobileNumber</th>
                <th>spouseName</th>
                <th>spouseMobileNumber</th>
                <th>emailId</th>
                <th>officeEmailId</th>
                <th>area</th>
                <th>bankName</th>
                <th>bankAccountNumber</th>
                <th>ifscCode</th>
                <th>dateOfJoining</th>
                <th>aadharNumber</th>
                <th>panNumber</th>
                <th>reference</th>
                <th>gender</th>
                <th>photo</th>
                <% if(level>2) {%>
                    <th>Edit</th>
                    <th>Delete</th>
                <%}else if(level>1){%>
                    <th>Edit</th>
                <%}else{%>
                <%}%>
            </tr>
        </thead >
        
        <% for(var i=0; i<data.length; i++) {%>
            <tr class="<%= data[i].employeeNumber%>employee">
                <%if(level==1) {%>
                    <td class="employeeName"><%= data[i].employeeName%></td>
                    <td class="designation"><%= data[i].designation%></td>
                    <td class="employeeCategories"><%= data[i].employeeCategories%></td>
                    <td class="dateOfBirth"><%= data[i].dateOfBirth%></td>
                    <td class="fatherName"><%= data[i].fatherName%></td>
                    <td class="motherName"><%= data[i].motherName%></td>
                    <td class="address"><%= data[i].address%></td>
                    <td class="primaryMobileNumber"><%= data[i].primaryMobileNumber%></td>
                    <td class="officeMobileNumber"><%= data[i].officeMobileNumber%></td>
                    <td class="fatherMobileNumber"><%= data[i].fatherMobileNumber%></td>
                    <td class="motherMobileNumber"><%= data[i].motherMobileNumber%></td>
                    <td class="spouseName"><%= data[i].spouseName%></td>
                    <td class="spouseMobileNumber"><%= data[i].spouseMobileNumber%></td>
                    <td class="emailId"><%= data[i].emailId%></td>
                    <td class="officeEmailId"><%= data[i].officeEmailId%></td>
                    <td class="area"><%= data[i].area%></td>
                    <td class="bankName"><%= data[i].bankName%></td>
                    <td class="bankAccountNumber"><%= data[i].bankAccountNumber%></td>
                    <td class="ifscCode"><%= data[i].ifscCode%></td>
                    <td class="dateOfJoining"><%= data[i].dateOfJoining%></td>
                    <td class="aadharNumber"><%= data[i].aadharNumber%></td>
                    <td class="panNumber"><%= data[i].panNumber%></td>
                    <td class="reference"><%= data[i].reference%></td>
                    <td class="gender"><%= data[i].gender%></td>
                    <td class="photo"><%= data[i].photo%></td>
                <%} else if(level>2) {%>
                    <td class="employeeName" contenteditable="true"><%= data[i].employeeName%></td>
                    <td class="designation" contenteditable="true"><%= data[i].designation%></td>
                    <td class="employeeCategories" contenteditable="true"><%= data[i].employeeCategories%></td>
                    <td class="dateOfBirth" contenteditable="true"><%= data[i].dateOfBirth%></td>
                    <td class="fatherName" contenteditable="true"><%= data[i].fatherName%></td>
                    <td class="motherName" contenteditable="true"><%= data[i].motherName%></td>
                    <td class="address" contenteditable="true"><%= data[i].address%></td>
                    <td class="primaryMobileNumber" contenteditable="true"><%= data[i].primaryMobileNumber%></td>
                    <td class="officeMobileNumber" contenteditable="true"><%= data[i].officeMobileNumber%></td>
                    <td class="fatherMobileNumber" contenteditable="true"><%= data[i].fatherMobileNumber%></td>
                    <td class="motherMobileNumber" contenteditable="true"><%= data[i].motherMobileNumber%></td>
                    <td class="spouseName" contenteditable="true"><%= data[i].spouseName%></td>
                    <td class="spouseMobileNumber" contenteditable="true"><%= data[i].spouseMobileNumber%></td>
                    <td class="emailId" contenteditable="true"><%= data[i].emailId%></td>
                    <td class="officeEmailId" contenteditable="true"><%= data[i].officeEmailId%></td>
                    <td class="area" contenteditable="true"><%= data[i].area%></td>
                    <td class="bankName" contenteditable="true"><%= data[i].bankName%></td>
                    <td class="bankAccountNumber" contenteditable="true"><%= data[i].bankAccountNumber%></td>
                    <td class="ifscCode" contenteditable="true"><%= data[i].ifscCode%></td>
                    <td class="dateOfJoining" contenteditable="true"><%= data[i].dateOfJoining%></td>
                    <td class="aadharNumber" contenteditable="true"><%= data[i].aadharNumber%></td>
                    <td class="panNumber" contenteditable="true"><%= data[i].panNumber%></td>
                    <td class="reference" contenteditable="true"><%= data[i].reference%></td>
                    <td class="gender" contenteditable="true"><%= data[i].gender%></td>
                    <td class="photo" contenteditable="true"><%= data[i].photo%></td>
                    <td>
                        <button onclick="edit('<%= data[i].employeeNumber%>employee')" name="foo" value="check" >Edit</button>
                    </td>
                    <td >
                        <button onclick="del('<%= data[i].employeeNumber %>')" name="foo" value="check" >Delete</button>
                    </td>
                <%}else if(level>1){%>
                    <td class="employeeName" contenteditable="true"><%= data[i].employeeName%></td>
                    <td class="designation" contenteditable="true"><%= data[i].designation%></td>
                    <td class="employeeCategories" contenteditable="true"><%= data[i].employeeCategories%></td>
                    <td class="dateOfBirth" contenteditable="true"><%= data[i].dateOfBirth%></td>
                    <td class="fatherName" contenteditable="true"><%= data[i].fatherName%></td>
                    <td class="motherName" contenteditable="true"><%= data[i].motherName%></td>
                    <td class="address" contenteditable="true"><%= data[i].address%></td>
                    <td class="primaryMobileNumber" contenteditable="true"><%= data[i].primaryMobileNumber%></td>
                    <td class="officeMobileNumber" contenteditable="true"><%= data[i].officeMobileNumber%></td>
                    <td class="fatherMobileNumber" contenteditable="true"><%= data[i].fatherMobileNumber%></td>
                    <td class="motherMobileNumber" contenteditable="true"><%= data[i].motherMobileNumber%></td>
                    <td class="spouseName" contenteditable="true"><%= data[i].spouseName%></td>
                    <td class="spouseMobileNumber" contenteditable="true"><%= data[i].spouseMobileNumber%></td>
                    <td class="emailId" contenteditable="true"><%= data[i].emailId%></td>
                    <td class="officeEmailId" contenteditable="true"><%= data[i].officeEmailId%></td>
                    <td class="area" contenteditable="true"><%= data[i].area%></td>
                    <td class="bankName" contenteditable="true"><%= data[i].bankName%></td>
                    <td class="bankAccountNumber" contenteditable="true"><%= data[i].bankAccountNumber%></td>
                    <td class="ifscCode" contenteditable="true"><%= data[i].ifscCode%></td>
                    <td class="dateOfJoining" contenteditable="true"><%= data[i].dateOfJoining%></td>
                    <td class="aadharNumber" contenteditable="true"><%= data[i].aadharNumber%></td>
                    <td class="panNumber" contenteditable="true"><%= data[i].panNumber%></td>
                    <td class="reference" contenteditable="true"><%= data[i].reference%></td>
                    <td class="gender" contenteditable="true"><%= data[i].gender%></td>
                    <td class="photo" contenteditable="true"><%= data[i].photo%></td>
                    <td>
                        <button onclick="edit('<%= data[i].employeeNumber%>employee')" name="foo" value="check" >Edit</button>
                    </td>
                <%}%>  
                
            </tr>
        <% } %>
    </table>

<%}else{%>
    <h4>No new data</h4>
<%}%>

<% if(level>2) {%>
    <p><a href="/addMasterEmployee">Add new Master Employee</a></p>
<%}%>
<p><a href="/userDashboard">Dashboard</a></p>
<p><a href="/">Back to Home Page</a></p>


<script>
    function edit(value)
    {
        console.log(value);
        var sub = 'employee';
        var result = value.replace(sub,'');
        console.log(result);
        
        $('.'+value).each(function() 
        {
            
            var employeeName = $(this).find(".employeeName").html();    
            var designation = $(this).find(".designation").html();    
            var employeeCategories = $(this).find(".employeeCategories").html();    
            var dateOfBirth = $(this).find(".dateOfBirth").html();    
            var fatherName = $(this).find(".fatherName").html();    
            var motherName = $(this).find(".motherName").html();    
            var address = $(this).find(".address").html();    
            var primaryMobileNumber = $(this).find(".primaryMobileNumber").html();    
            var officeMobileNumber = $(this).find(".officeMobileNumber").html();    
            var fatherMobileNumber = $(this).find(".fatherMobileNumber").html();    
            var motherMobileNumber = $(this).find(".motherMobileNumber").html();    
            var spouseName = $(this).find(".spouseName").html();    
            var spouseMobileNumber = $(this).find(".spouseMobileNumber").html();    
            var officeEmailId = $(this).find(".officeEmailId").html();    
            var area = $(this).find(".area").html();    
            var bankName = $(this).find(".bankName").html();    
            var bankAccountNumber = $(this).find(".bankAccountNumber").html();    
            var ifscCode = $(this).find(".ifscCode").html();    
            var dateOfJoining = $(this).find(".dateOfJoining").html();    
            var aadharNumber = $(this).find(".aadharNumber").html();    
            var panNumber = $(this).find(".panNumber").html();    
            var reference = $(this).find(".reference").html();    
            var gender = $(this).find(".gender").html();    
            var photo = $(this).find(".photo").html();  
               
            $.post("/masterEmployee",
            {
                id: result,
                employeeName: employeeName,
                designation: designation,
                employeeCategories: employeeCategories,
                dateOfBirth: dateOfBirth,
                fatherName: fatherName,
                motherName: motherName,
                address: address,
                primaryMobileNumber: primaryMobileNumber,
                officeMobileNumber: officeMobileNumber,
                fatherMobileNumber: fatherMobileNumber,
                motherMobileNumber: motherMobileNumber,
                spouseName: spouseName,
                spouseMobileNumber: spouseMobileNumber,
                officeEmailId: officeEmailId,
                area: area,
                bankName: bankName,
                bankAccountNumber: bankAccountNumber,
                ifscCode: ifscCode,
                dateOfJoining: dateOfJoining,
                aadharNumber: aadharNumber,
                panNumber: panNumber,
                reference: reference,
                gender: gender,
                photo: photo,
                op:"edt"
            },
            function (data, status) {
                console.log(data);
                console.log(status);
            }
            );
        });
    }
</script>


<script>
    function del(value)
    {
        console.log(value);
        $.post("/masterEmployee",
            {
                id: value,
                op:"del"
            },
            function (data, status) {
                console.log(data);
                console.log(status);
            }
            );
    }
</script>