<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Jindal Trading | Dashboard</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/layout.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/colors.min.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="global_assets/js/main/jquery.min.js"></script>
	<script src="global_assets/js/main/bootstrap.bundle.min.js"></script>
	<script src="global_assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="global_assets/js/plugins/visualization/d3/d3.min.js"></script>
	<script src="global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
	<script src="global_assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script src="global_assets/js/plugins/ui/moment/moment.min.js"></script>
	<script src="global_assets/js/plugins/pickers/daterangepicker.js"></script>

	<script src="assets/js/app.js"></script>
	<script src="global_assets/js/demo_pages/dashboard.js"></script>
	<script src="global_assets/js/demo_charts/pages/dashboard/light/streamgraph.js"></script>
	<script src="global_assets/js/demo_charts/pages/dashboard/light/sparklines.js"></script>
	<script src="global_assets/js/demo_charts/pages/dashboard/light/lines.js"></script>	
	<script src="global_assets/js/demo_charts/pages/dashboard/light/areas.js"></script>
	<script src="global_assets/js/demo_charts/pages/dashboard/light/donuts.js"></script>
	<script src="global_assets/js/demo_charts/pages/dashboard/light/bars.js"></script>
	<script src="global_assets/js/demo_charts/pages/dashboard/light/progress.js"></script>
	<script src="global_assets/js/demo_charts/pages/dashboard/light/heatmaps.js"></script>
	<script src="global_assets/js/demo_charts/pages/dashboard/light/pies.js"></script>
	<script src="global_assets/js/demo_charts/pages/dashboard/light/bullets.js"></script>
	<!-- /theme JS files -->

</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-expand-md navbar-dark">
		<div class="navbar-brand">
			<a href="index.html" class="d-inline-block">
				<img src="global_assets/images/logo_light.png" alt="">
			</a>
		</div>

		<div class="d-md-none">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-tree5"></i>
			</button>
			<button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
				<i class="icon-paragraph-justify3"></i>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbar-mobile">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
						<i class="icon-paragraph-justify3"></i>
					</a>
				</li>
			</ul>

			<span class="badge bg-success ml-md-3 mr-md-auto">Online</span>

			<ul class="navbar-nav">

				<li class="nav-item dropdown dropdown-user">
					<a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
						<img src="global_assets/images/demo/users/face11.jpg" class="rounded-circle mr-2" height="34" alt="">
						<span><%=username%></span>
					</a>

					<div class="dropdown-menu dropdown-menu-right">
						<a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
						<a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-blue ml-auto">58</span></a>
						<div class="dropdown-divider"></div>
						<a href="/logout" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

			<!-- Sidebar mobile toggler -->
			<div class="sidebar-mobile-toggler text-center">
				<a href="#" class="sidebar-mobile-main-toggle">
					<i class="icon-arrow-left8"></i>
				</a>
				Navigation
				<a href="#" class="sidebar-mobile-expand">
					<i class="icon-screen-full"></i>
					<i class="icon-screen-normal"></i>
				</a>
			</div>
			<!-- /sidebar mobile toggler -->


			<!-- Sidebar content -->
			<div class="sidebar-content">

				<!-- User menu -->
				<div class="sidebar-user">
					<div class="card-body">
						<div class="media">
							<div class="mr-3">
								<a href="#"><img src="global_assets/images/demo/users/face11.jpg" width="38" height="38" class="rounded-circle" alt=""></a>
							</div>

							<div class="media-body">
								<div class="media-title font-weight-semibold"><%=username%></div>
								<div class="font-size-xs opacity-50">
									<i class="icon-pin font-size-sm"></i> &nbsp;Meerut
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /user menu -->


				<!-- Main navigation -->
				<div class="card card-sidebar-mobile">
					<ul class="nav nav-sidebar" data-nav-type="accordion">

						<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li>
						<li class="nav-item nav-item-submenu">
							<a href="/userDashboard" class="nav-link active">
								<i class="icon-home4"></i>
								<span>
									Dashboard
								</span>
							</a>
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/register" class="nav-link">User-Register</a></li>
							</ul>
                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/registeredUsers" class="nav-link active">Register-List</a></li>
							</ul>
						</li>

						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Market-Plan</span></a>
							
							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/marketPlanPigIron" class="nav-link">Pig-Iron</a></li>
							</ul>

							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/marketPlanAllotment" class="nav-link">Allotment</a></li>
							</ul>

                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/marketPlanQuantityLedger" class="nav-link">QuantityLedger</a></li>
							</ul>
						</li>

						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Master</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="/masterArea" class="nav-link">MasterArea</a></li>
								<li class="nav-item"><a href="/masterCategories" class="nav-link">MasterCategories</a></li>
								<li class="nav-item"><a href="/masterCustomer" class="nav-link">MasterCustomer</a></li>
								<li class="nav-item"><a href="/masterEmployee" class="nav-link">MasterEmployee</a></li>
								<li class="nav-item"><a href="/masterGrade" class="nav-link">MasterGrade</a></li>
								<li class="nav-item"><a href="/masterProducts" class="nav-link">MasterProducts</a></li>
								<li class="nav-item"><a href="/masterTeams" class="nav-link">MasterTeams</a></li>
								<li class="nav-item"><a href="/masterVendors" class="nav-link">MasterVendors</a></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Customers</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="index.html" class="nav-link">Contact</a></li>
								<li class="nav-item"><a href="https://demo.interface.club/limitless/demo/Template/layout_2/LTR/default/full/index.html" class="nav-link">Categories</a></li>
								<li class="nav-item"><a href="https://demo.interface.club/limitless/demo/Template/layout_3/LTR/default/full/index.html" class="nav-link">Firms</a></li>
								<li class="nav-item"><a href="https://demo.interface.club/limitless/demo/Template/layout_3/LTR/default/full/index.html" class="nav-link">Products</a></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Transport</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="index.html" class="nav-link">Contact</a></li>
								<li class="nav-item"><a href="https://demo.interface.club/limitless/demo/Template/layout_2/LTR/default/full/index.html" class="nav-link">Stations</a></li>
								<li class="nav-item"><a href="https://demo.interface.club/limitless/demo/Template/layout_3/LTR/default/full/index.html" class="nav-link">Trucks</a></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Team</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="index.html" class="nav-link">Contact Details</a></li>
								<li class="nav-item"><a href="https://demo.interface.club/limitless/demo/Template/layout_3/LTR/default/full/index.html" class="nav-link">Add Member</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- /main navigation -->

			</div>
			<!-- /sidebar content -->
			
		</div>
		<!-- /main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header page-header-light">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">User</span> - Register</h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>
				</div>
			</div>
			<!-- /page header -->


			<!-- Content area -->
			<div class="content">

				<!-- Dashboard content -->
				<div class="row">
					<div class="col-xl-8">
					</div>
                    
					<div class="col-xl-4">
                    </div>
				</div>
				<!-- /dashboard content -->
                
                <div class="row">
					<div class="col-md-12">
						<div class="card" style="overflow-x: auto;">
							<div class="card-header header-elements-inline">
								<h5 class="card-title">Register-List</h5>
								<div class="header-elements">
									<div class="list-icons">
										<a class="list-icons-item" data-action="collapse"></a>
										<a class="list-icons-item" data-action="reload"></a>
										<a class="list-icons-item" data-action="remove"></a>
									</div>
								</div>
							</div>
							<% if(data.length>0) {%>
    
								<table class="table datatable-basic table-bordered table-striped table-hover" style="table-layout: auto; width: 100%; overflow-x: auto;">
									
									<thead>
										<tr>
                                            <th>username</th>
                                            <th>password</th>
                                            <th>role</th>
											<% if(level>2) {%>
												<th>Edit</th>
												<th>Delete</th>
											<%}else if(level>1){%>
												<th>Edit</th>
											<%}%>
										</tr>
									</thead >
									
									<% for(var i=0; i<data.length; i++) {%>
										<tr class="<%= data[i].id%>RegisterList">
											<%if(level>2) {%>
                                                
                                                <td class="username" contenteditable="true"><%= data[i].username%></td>
                                                <td class="password" contenteditable="true"><%= data[i].password%></td>
                                                <td name="role" class="role">
													<select name="rSelect" class="rSelect">
														<option value="<%= data[i].role%>"><%= data[i].role%></option>
														<option value="User">User</option>
														<option value="Moderator">Moderator</option>
														<option value="Admin">Admin</option>
													</select>
												</td>
												<td>
                                                    <button onclick="edit('<%= data[i].id%>RegisterList')" name="foo" value="check" >Edit</button>
                                                </td>
                                                <td>
                                                    <button onclick="del('<%= data[i].id%>')" name="foo" value="check" >Delete</button>
                                                </td>
                                               
											<%}else if(level>1){%>
												<td class="username" contenteditable="true"><%= data[i].username%></td>
                                                <td class="password" contenteditable="true"><%= data[i].password%></td>
                                                <td name="role" class="role">
													<select name="rSelect" class="rSelect">
														<option value="<%= data[i].role%>"><%= data[i].role%></option>
														<option value="User">User</option>
														<option value="Moderator">Moderator</option>
														<option value="Admin">Admin</option>
													</select>
												</td>
												<td>
                                                    <button onclick="edit('<%= data[i].id%>RegisterList')" name="foo" value="check" >Edit</button>
                                                </td>
											<%}%>
										</tr>
									<% } %>
								</table>
							
							<%}else{%>
								<h4>No data</h4>
							<%}%>
								
						</div>
					</div>
				</div>
			</div>
			<!-- /content area -->


			<!-- Footer -->
			<!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>

</html>

<script>
    function edit(value)
    {
        console.log(`EDIT  ${value}`);
        var sub = 'RegisterList';
        var result = value.replace(sub,'');
        console.log(result);
        
        $('.'+value).each(function() 
        {
            console.log("new yr");
            var username = $(this).find(".username").html();   
            var password = $(this).find(".password").html();   
            var role = $(this).find(".rSelect").val();         
            console.log(username);
            console.log(password);
            console.log(role);
            console.log("ujjwal");
            $.post("/registeredUsers",
            {
                id: result,
                username:username,
                password:password,
                role: role,
                op:"edt"
            },
            function (data, status) {
                console.log("check edit wala data");
                console.log(data);
                console.log(status);
            }
            );
        });
    }
    
</script>

<script>
    
    function del(value)
    {
        console.log(value);
        $.post("/registeredUsers",
            {
                id: value,
                op:"del"
            },
            function (data, status) {
                console.log(data);
                console.log(status);
            }
            );
    }

	
</script>